{% extends "mobile/base.html" %}
{% block title %}Тег {{ tag.name }} | Обучающие статьи{% endblock %}
{% block content %}

<section class="bg-gray-lighter" style="padding-top: 90px;">
    <div class="relative container align-left">
        <div class="hs-line-4 font-alt black">
          <a class="ajax" href="/">Главная</a>
            &nbsp;/&nbsp;
          <a class="ajax" href="/tags/">Ключевые слова</a>
            &nbsp;/&nbsp;
          <a class="ajax" href="/tag/{{ tag.id }}/">{{ tag.name }}</a>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container relative">
      {% if wikis %}
      <section class="page-section">
          <div class="container relative">
              <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                  Обучающие статьи ({{ wikis_count }})
              </h2>
              <div class="row multi-columns-row">
                {% for object in wikis %}
                  {% include 'desctop/generic/wiki.html' %}
                {% endfor %}
              </div>
          </div>
      </section>
      {% endif %}
    </div>
</section>

{% endblock %}
