::-moz-selection{ color: #fff !important; background:#000 !important; }
::-webkit-selection{ color: #fff !important; background:#000 !important; }
::selection{ color: #fff !important; background:#000 !important; }

.js-height-full, .small-section, .mob_menu {
  background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px) !important;
	background-size: 20px 20px;
	background-position: center center;
}
tr:hover, tr.hover {
  color: #fff !important;
}
.small-section, .mob_menu, .banner_block {
  background-color: white !important;
}
.hs-line-14 {
  text-shadow: 0px 5px 3px rgb(0 0 0 / 30%);
}
.banner_block {
  display: inline-block;
  padding: 17px;
  box-shadow: 0 0px 15px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%) !important;
}
.mob_menu {
  box-shadow: 0 0px 15px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%) !important;
}
.mobile_nav {
  background: #FFFFFF !important;
}
.first_span {
  background: #FFFFFF !important;
}
.second_span {
  background: #FFFFFF !important;
}
.mobile_icon_active, .mobile_icon_current{
  background: #e6e3df !important;
}
.mobile_icon p{
  color: #777 !important;
}
.mobile_icon_active p, .mobile_icon_current p{
  color: black !important;
}

.svg_default {
    color: rgba(0, 0, 0, 0.5) !important;
}
.border {
    border: 1px solid rgba(127,127,127, 0.7) !important;
}

.svg_info {
    width: 22px;
}
a, b, div, ul, li{
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}

.page-loader{
    background: #fefefe !important;
}
.loader{
    border-top: 1px solid rgba(0,0,0, 0.08) !important;
    border-right: 1px solid rgba(0,0,0, 0.08) !important;
    border-bottom: 1px solid rgba(0,0,0, 0.08) !important;
    border-left: 1px solid rgba(0,0,0, 0.5) !important;
}

body{
  color: rgba(0,0,0, 0.9) !important;
  background-color: #f2f2f2 !important;
  background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px) !important;
	background-size: 20px 20px !important;
	background-position: center center;
  }

.main-nav{
  background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px) !important;
	background-size: 20px 20px;
	background-position: center center;
}

.window_fullscreen {
  color: rgba(0,0,0, 0.9) !important;
  background-color: #e6e3df !important;
}
.mobile-nav .fa {
    color: #000000 !important;
}
a{
    color: rgba(0,0,0, 0.7) !important;
}
a:hover{
    color: rgba(0,0,0, 0.9) !important;
}

hr{
    background: rgba(0,0,0, .7) !important;
    border-top: 1px solid rgba(0,0,0, .7);
}

.big-icon{
    border: 3px solid #fff !important;
    color: rgba(255,255,255, .97) !important;
}

.big-icon-link:hover .big-icon{
    border-color: #fff !important;
    color: #fff !important;
}

.big-icon-link:hover,
.big-icon-link:hover .wide-heading{
    color: #fff !important;
}
.sub-heading{
    color: rgba(255,255,255, .75) !important;
}

.big-icon-link:hover .big-icon.black{
    color: #000 !important;
    border-color: #000 !important;
}
.wide-heading.black{
    color: rgba(0,0,0, .87) !important;
}
.big-icon-link.black:hover,
.big-icon-link:hover .wide-heading.black{
    color: #000 !important;
}
.sub-heading.black{
    color: rgba(0,0,0, .75) !important;
}

.btn-mod:hover,
.btn-mod:focus,
a.btn-mod:hover,
a.btn-mod:focus{
    color: rgba(255,255,255, .85) !important;
    background: rgba(0,0,0, .7) !important;
}
.btn-mod.btn-glass{
    color: rgba(255,255,255, .75) !important;
    background: rgba(0,0,0, .40) !important;
}
.btn-mod.btn-glass:hover,
.btn-mod.btn-glass:focus{
    color: rgba(255,255,255, 1) !important;
    background: rgba(0,0,0, 1) !important;
}
.btn-mod.btn-border{
    color: #151515 !important;
    border: 2px solid #151515 !important;
}

.btn-mod.btn-border:hover,
.btn-mod.btn-border:focus{
    color: #fff !important;
    background: #000 !important;
}

.btn-mod.btn-border-c{
    color: #e41919 !important;
    border: 2px solid #e41919 !important;
}
.btn-mod.btn-border-c:hover,
.btn-mod.btn-border-c:focus{
    color: #fff !important;
    background: #e41919 !important;
}

.btn-mod.btn-border-w{
    color: #fff !important;
    border: 2px solid rgba(255,255,255, .75) !important;
}
.btn-mod.btn-border-w:hover,
.btn-mod.btn-border-w:focus{
    color: #111 !important;
    background: #fff !important;
}
.btn-mod.btn-w{
    color: #111 !important;
    background: rgba(255,255,255, .8) !important;
}

.btn-mod.btn-w:hover,
.btn-mod.btn-w:focus{
    color: #111 !important;
    background: #fff !important;
}
.btn-mod.btn-w-color{
    color: #e41919 !important;
    background: #fff !important;
}
.btn-mod.btn-w-color:hover,
.btn-mod.btn-w-color:focus{
    color: #151515 !important;
    background: #fff !important;
}

.btn-mod.btn-gray{
    color: #777 !important;
    background: #e5e5e5 !important;
}
.btn-mod.btn-gray:hover,
.btn-mod.btn-gray:focus{
    color: #444 !important;
    background: #d5d5d5 !important;
}
.btn-mod.btn-color{
    color: #fff !important;
    background: #e41919 !important;
}

.btn-mod.btn-color:hover,
.btn-mod.btn-color:focus{
    color: #fff !important;
    background: #e41919 !important;
}

.btn-icon > span{
    color: #fff !important;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form input[type="url"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="password"],
.form input[type="date"],
.form input[type="color"],
.form .smile_supported,
.form input[type="file"],
.form select{
    color: #777 !important;
    border: 1px solid rgba(0,0,0, .1) !important;
    background: rgba(255,255,255, 1) !important;
}

.form input[type="text"]:hover,
.form input[type="email"]:hover,
.form input[type="number"]:hover,
.form input[type="url"]:hover,
.form input[type="search"]:hover,
.form input[type="tel"]:hover,
.form input[type="password"]:hover,
.form input[type="date"]:hover,
.form input[type="color"]:hover,
.form select:hover{
    border-color: rgba(0,0,0, .2) !important;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form input[type="number"]:focus,
.form input[type="url"]:focus,
.form input[type="search"]:focus,
.form input[type="tel"]:focus,
.form input[type="password"]:focus,
.form input[type="date"]:focus,
.form input[type="color"]:focus,
.form select:focus{
    color: #111 !important;
    border-color: rgba(0,0,0, .7) !important;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0, .3) !important;
    -moz-box-shadow: 0 0 3px rgba(0,0,0, .3) !important;
    box-shadow: 0 0 3px rgba(0,0,0, .3) !important;
}

.form textarea{
    color: #777 !important;
    border-color: rgba(0,0,0, .1) !important;
}
.form textarea:hover{
    border-color: rgba(0,0,0, .2) !important;
}
.form textarea:focus{
    color: #111 !important;
    border-color: rgba(0,0,0, .7) !important;
    -webkit-box-shadow: 0 0 3px rgba(21,21,21, .3) !important;
    -moz-box-shadow: 0 0 3px rgba(21,21,21, .3) !important;
    box-shadow: 0 0 3px rgba(21,21,21, .3) !important;
}

a.bg-video-button-muted{
    color: #fff !important;
}

.hs-wrap{
    border: 1px solid rgba(255,255,255, .5) !important;
}

.hs-line-1{
    color: #fff !important;
}
.hs-line-2{
    color: rgba(0,0,0, .85) !important;
}

.hs-line-3{
    color: rgba(0,0,0, .7) !important;
}

.hs-line-4{
    color: rgba(0,0,0, .85) !important;
}

.hs-line-10{
    background: rgba(0,0,0, .75) !important;
    color: rgba(255,255,255, .85) !important;
}

.hs-line-10.highlight{
    background: #e41919 !important;
}
.hs-line-10.transparent{
    color: #aaa !important;
}

.top-bar{
    background: #fbfbfb !important;
    border-bottom: 1px solid rgba(0,0,0, .05) !important;
}
.top-links li{
    border-left: 1px solid rgba(0,0,0, .05) !important;
}
.top-links li:last-child{
    border-right: 1px solid rgba(0,0,0, .05) !important;
}

.top-links li a{
    color: #999 !important;
}
.top-links li a:hover{
    color: #555 !important;
    background-color: rgba(0,0,0, .02) !important;
}

.logo,
a.logo:hover{
    color: rgba(0,0,0, .9) !important;
}

.inner-nav ul li a:hover,
.inner-nav ul li a.active{
    color: #000 !important;
}

.mn-sub{
    background: rgba(30,30,30, .97) !important;
}

.inner-nav ul li .mn-sub li a{
    color: #b0b0b0 !important;
}

.mn-sub li a:hover,
.inner-nav ul li .mn-sub li a:hover,
.mn-sub li a.active{
    background: rgba(255,255,255, .09) !important;
    color: #f5f5f5 !important;
}

.mn-sub li ul{
    border-left: 1px solid rgba(255,255,255, .07) !important;
}

.inner-nav li:last-child .mn-sub li ul,
.inner-nav li .mn-sub li ul.to-left{
    border-right: 1px solid rgba(255,255,255, .07) !important;
}

.mn-group-title{
    color: #fff !important;
}

.mn-soc-link{
    border: 1px solid rgba(0,0,0, .1) !important;
}
.mn-soc-link:hover{
    border: 1px solid rgba(0,0,0, .25) !important;
}

.fm-button{
    background: #111 !important;
}

.fm-button span{
    background: #fff !important;
}

.fm-button span:before,
.fm-button span:after{
    background: #fff !important;
}

.fm-button.active{
    background: #222 !important;
}

.fm-wrapper{
    background: rgba(10,10,10, .97) !important;
}

.fm-menu-links a{
    color: #999 !important;
    -webkit-tap-highlight-color: rgba(255,255,255, .1) !important;
}

.no-touch .fm-menu-links a:hover,
.fm-menu-links a:active,
.fm-menu-links li.js-opened > a{
    color: #d5d5d5 !important;
}

.fm-menu-links li > a:active,
.fm-menu-links li.active > a,
.fm-menu-links li a.active{
    color: #f5f5f5 !important;
}
.no-touch .fm-menu-links li.js-opened > a:hover,
.fm-menu-links li.js-opened > a:active{
    color: #fff !important;
}

.fm-search input.search-field{
    color: #555 !important;
    border-bottom: 1px solid rgba(255,255,255, .2) !important;
}
.fm-search input.search-field:hover{
    border-bottom: 1px solid rgba(255,255,255, .4) !important;
}
.fm-search input.search-field:focus{
    color: #999 !important;
    border-color: rgba(255,255,255, .7) !important;
}
.fm-search .search-button:hover{
    color: #fff !important;
}

.fm-social-links > a{
    border: 1px solid rgba(255,255,255, .15) !important;
    color: #555 !important;
}

.fm-social-links > a:hover{
    border-color: rgba(255,255,255, .3) !important;
    color: #999 !important;
}

.section-more{
    color: #999 !important;
}
.section-more:hover{
    color: #000 !important;

}

.section-line{
    background: #111 !important;
}

.alt-service-item{
    color: #999 !important;
}

.alt-service-icon{
    color: #111 !important;
}

.alt-services-title{
    color: #111 !important;
}

.team-item-role{
    color: #aaa !important;
}

.team-social-links a{
    color: rgba(0,0,0, .4) !important;
}

.no-mobile .team-item:hover .team-item-image:after{
    background: rgba(255,255,255, .93) !important;
}
.no-mobile .team-item:hover .team-item-descr{
    color: #111 !important;
}

.no-mobile .team-social-links a:hover{
    color: rgba(0,0,0, .75) !important;
}

.team-item.js-active .team-item-image:after{
    background: rgba(255,255,255, .93) !important;
}
.team-item.js-active .team-item-descr{
    color: #111 !important;
}
.team-item.js-active .team-social-links a:hover{
    color: rgba(0,0,0, .75) !important;
}

.features-icon{
    color: rgba(255,255,255, .9) !important;
}
.features-title{
    color: rgba(255,255,255, .9) !important;
}

.features-descr{
    color: rgba(255,255,255, .75) !important;
}
.alt-features-icon{
    color: #111 !important;
}

.benefit-number{
    color: rgba(0,0,0, .025) !important;
}
.benefit-item:after{
    background: rgba(0,0,0, .015) !important;
}
.benefit-item:hover .benefit-number{
    color: rgba(0,0,0, .035) !important;
}

.count-wrapper{
    border: 1px solid rgba(0,0,0, .09) !important;
}
.count-descr{
    color: #999 !important;
}
.works-filter{
    color: #555 !important;
}
.works-filter a{
    color: #999 !important;
}
.works-filter a:hover{
    color: #111 !important;
}
.works-filter a.active{
    color: #111 !important;
}
.works-filter a.active:hover{
    color: #111 !important;
}

.work-full{
    background: #fff !important;
}
.work-loader{
    background: #fff !important;
}
.work-navigation{
    background: #fff !important;
}
.work-navigation a,
.work-navigation a:visited{
    color: #555 !important;
}
.work-navigation a:hover{
    color: #111 !important;
}

.work-navigation a span{
    background: #fff !important;
}
.work-navigation span:hover{
    background: #f7f7f7 !important;
}
.work-back-link{
    background: #fff !important;
    color: #151515 !important;
}

.work-full-detail p{
    border-top: 1px solid rgba(0,0,0, .05) !important;
}
.work-full-detail p:last-child{
    border-bottom: 1px solid rgba(0,0,0, .05) !important;
}
.work-full-action{
    border-top: 1px solid #eaeaea !important;
}

.banner-decription{
    color: rgba(255,255,255, .7) !important;
}

.post-prev-title a:hover{
    color: #111 !important;
}
.post-prev-info,
.post-prev-info a{
    color: #aaa !important;
}
.post-prev-info a:hover{
    color: #111 !important;
}

.form input.newsletter-field::-webkit-input-placeholder{
    color: #777 !important;
}
.form input.newsletter-field:focus::-webkit-input-placeholder{
    color: #111 !important;
}

.form input.newsletter-field:-moz-placeholder{
    color: #777 !important;
}
.form input.newsletter-field:focus:-moz-placeholder{
    color: #111 !important;
}

.form input.newsletter-field::-moz-placeholder{
    color: #777 !important;
}
.form input.newsletter-field:focus::-moz-placeholder{
    color: #111 !important;
}

.form input.newsletter-field:-ms-input-placeholder{
    color: #777 !important;
}
.form input.newsletter-field:focus:-ms-input-placeholder{
    color: #111 !important;
}

.contact-item{
    color: #444 !important;
}
.contact-item a{
    color: #444 !important;
}

.contact-item a:hover{
    color: #000 !important;
}
.ci-icon{
    color: #fff !important;
}

.ci-icon:before{
    background: #111 !important;
}

.footer a{
    color: #888 !important;
}
.footer a:hover{
    color: #111 !important;
}
.footer-made{
    color: #999 !important;
}
.footer-social-links a{
    color: #111 !important;
}

.footer-social-links a:before{
    border: 1px solid #111 !important;
}

a.link-to-top{
    color: rgba(0,0,0, .2) !important;
}

.blog-item-date{
    color: #999 !important;
    border-right: 1px solid #eee !important;

}
.date-num{
    color: #555 !important;
}

.blog-item-title a{
    color: #111 !important;
}

.blog-item-data a:hover{
    color: #000 !important;
}
.blog-post-data{
    color: #aaa !important;
}

.blog-item-more{
    border: 1px solid #eaeaea !important;
}
.blog-item-more:hover{
    border-color: #111 !important;
}

a.blog-item-more:hover{
    color: #111 !important;
}

.blog-item-q p{
    background: #f8f8f8 !important;
}
.blog-item-q p a{
    color: #555 !important;
}

.blog-page-title{
    border-bottom: 1px solid #eee !important;
}
.comment-item{
    border-top: 1px dotted #e9e9e9 !important;
}

.comment-item-data a:hover{
    color: #000 !important;
}
.comment-author a{
    color: #999 !important;
}
.widget-title{
    border-bottom: 1px solid #ccc !important;
}

.search-button{
    color: #999 !important;
}

.search-button:hover{
    color: #111 !important;
}
.search-button:hover + .search-field{
    border-color: #ccc !important;
}

.tags a{
    border: 1px solid rgba(0,0,0, .8) !important;
}
.tags a:hover{
    border-color: #333 !important;
    color: #111 !important;
}

.widget-comments{
    color: #aaa !important;
}
.widget-comments li a{
    color: #555 !important;
}
.widget-comments li a:hover{
    color: #999 !important;
}

.pricing-item-inner{
    border: 1px solid #eaeaea !important;
}

.pricing-item-inner:hover{
    border-color: #aaa !important;
}
.main .pricing-item-inner{
    border-color: #aaa !important;
}

.pr-list li{
    border-bottom: 1px solid #f1f1f1 !important;
}
.pr-list li:first-child{
    border-top: 1px solid #f1f1f1 !important;
}

.pr-button{
    border-top: 1px solid #f1f1f1 !important;
}
.pr-per{
    color: #999 !important;
}

.tpl-tabs{
    border-color: #e5e5e5 !important;
}

.tpl-tabs > li > a:hover{
    background-color: #f5f5f5 !important;
}
.tpl-tabs li.active a{
    color: #000 !important;
}
.tpl-minimal-tabs > li > a{
    color: #000 !important;
}
.tpl-minimal-tabs > li > a:hover{
    border-color: #e9e9e9 !important;
}
.tpl-minimal-tabs li.active a,
.tpl-minimal-tabs li.active a:hover{
    border: 1px solid #222 !important;
    color: #000 !important;
}

.tpl-alt-tabs li.active a,
.tpl-alt-tabs li.active a:hover,
.tpl-alt-tabs li.active a:focus{
    color: black !important;
    font-weight: bold;
}
.tpl-alt-tabs li.active span{
    color: black !important;
}

.toggle > dt > a{
    border: 1px solid #e5e5e5 !important;
}
.toggle > dt > a:hover{
    border-color: #ddd !important;
    background-color: #fcfcfc !important;
    color: #444 !important;
}
.toggle > dt > a.active{
    color: #000 !important;
    border-color: #ddd !important;
    background-color: #fcfcfc !important;
}
.toggle > dt > a:after{
    color: #999 !important;
}
.toggle > dt > a.active:after,
.toggle > dt > a.active:hover:after{
    color: #111 !important;
}
.toggle > dt > a:hover:after{
    color: #444 !important;
}

.label-new{
    background: #f32929 !important;
}

.intro-label-round{
    color: rgba(255,255,255, .85);
    background: #f32929 !important;
}
.blog-post-prev-small{
    color: #aaa !important;
    border-top: 1px dotted #eaeaea !important;
}

.blog-post-prev-small a{
    color: #555 !important;
}
.blog-post-prev-small a:hover{
    color: #999 !important;
}

.blog-slide-title a{
    color: rgba(255,255,255, .85) !important;
}
.blog-slide-title a:hover{
    color: rgba(255,255,255, 1) !important;
}

.blog-slide-data a{
    color: rgba(255,255,255, .65) !important;
}
.blog-slide-data a:hover{
    color: rgba(255,255,255, 1) !important;
}

.play-video-link{
    color: #111 !important;
}
.play-video-link:hover,
.play-video-link:focus{
    color: #777 !important;
}
.download-button{
    border: 2px solid #111 !important;
}
.download-button:hover,
.download-button:focus{
    color: #111 !important;
}

.fsp-item img{
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, .75) !important;
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, .75) !important;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .75) !important;
}
.sp-overlay{
    background: rgba(10,10,10, .85) !important;
}

.sp-close-button{
    border: 1px solid rgba(255,255,255, .5) !important;
}
.sp-close-button:before{
    background: #fff !important;
}
.sp-close-button:after{
    background: #fff !important;
}

.sp-menu-links a{
    color: #999 !important;
}
.no-touch .sp-menu-links a:hover,
.sp-menu-links a:active,
.sp-menu-links li.js-opened > a{
    color: #d5d5d5 !important;
}
.no-touch .sp-menu-links a:hover{
    background-color: rgba(255,255,255, .05) !important;
}
.sp-menu-links li > a:active,
.sp-menu-links li a.active{
    color: #f5f5f5 !important;
}

.no-touch .sp-menu-links li.js-opened > a:hover,
.sp-menu-links li.js-opened > a:active{
    color: #fff !important;
}
.js-opened > .sp-has-sub > .fa{
    color: #fff !important;
}
.sp-search input.search-field{
    color: #555 !important;
    border-bottom: 1px solid rgba(255,255,255, .2) !important;
}
.sp-search input.search-field:hover{
    border-bottom: 1px solid rgba(255,255,255, .4) !important;
}
.sp-search input.search-field:focus{
    color: #999 !important;
    border-color: rgba(255,255,255, .7) !important;
}
.sp-search .search-button:hover{
    color: #fff !important;
}
.sp-social-links > a{
    border: 1px solid rgba(255,255,255, .15) !important;
    color: #555 !important;
}
.sp-social-links > a:hover{
    border-color: rgba(255,255,255, .3) !important;
    color: #999 !important;
}
