::-moz-selection{ color: #fff !important; background:#000 !important; }
::-webkit-selection{ color: #fff !important; background:#000 !important; }
::selection{ color: #fff !important; background:#000 !important; }

.js-height-full, .small-section, .mob_menu, .mn-sub {
  background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px) !important;
	background-size: 20px 20px;
	background-position: center center;
}
.mn-sub {
  background-color: #FFFFFF !important;
}

.mobile_icon span {
  color: rgb(0, 0, 0, 0.7) !important;
}
.small-section, .mob_menu, .banner_block {
  background-color: white !important;
}
.hs-line-14 {
  text-shadow: 0px 5px 3px rgb(0 0 0 / 30%);
}

.mob_menu {
  box-shadow: 0 0px 15px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%) !important;
}
.mobile_nav {
  background: #FFFFFF !important;
}
.first_span {
  background: #FFFFFF !important;
}
.second_span {
  background: #FFFFFF !important;
}
.mobile_icon_active, .mobile_icon_current{
  background: #e6e3df !important;
}
.mobile_icon p{
  color: #777 !important;
}
.mobile_icon_active p, .mobile_icon_current p{
  color: black !important;
}

.border {
    border: 1px solid rgba(127,127,127, 0.7) !important;
}
.border:hover {
    border: 1px solid rgba(127,127,127, 0.9) !important;
}
.blog-post-prev-small{
    border-top: 1px dotted #eaeaea !important;
}
body {
  color: rgba(0,0,0, 0.9) !important;
  background-color: #f2f2f2 !important;
  background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px) !important;
	background-size: 20px 20px !important;
	background-position: center center;
  }

.main-nav{
  background-color: white !important;
}

.window_fullscreen, .card_fullscreen {
  color: rgba(0,0,0, 0.9) !important;
  background-color: rgba(255,255,255, 1) !important;
}

a{
    color: rgba(0,0,0, 0.7) !important;
}
a:hover{
    color: rgba(0,0,0, 0.9) !important;
}
a.active {
    color: rgba(255,255,255, 1) !important;
    font-weight: bold;
}
hr{
    background: rgba(0,0,0, .7) !important;
    border-top: 1px solid rgba(0,0,0, .7);
}

.big-icon{
    border: 3px solid #fff !important;
    color: rgba(255,255,255, .97) !important;
}

.btn-mod:hover,
.btn-mod:focus,
a.btn-mod:hover,
a.btn-mod:focus{
    color: rgba(255,255,255, .85) !important;
    background: rgba(0,0,0, .7) !important;
}

.btn-mod.btn-border{
    color: #151515 !important;
    border: 2px solid #151515 !important;
}

.btn-mod.btn-border:hover,
.btn-mod.btn-border:focus{
    color: #fff !important;
    background: #000 !important;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="password"],
.form input[type="date"],
.form .smile_supported,
.form input[type="file"],
.form select{
    color: #777 !important;
    border: 1px solid rgba(0,0,0, .1) !important;
    background: rgba(255,255,255, 1) !important;
}

.form input[type="text"]:hover,
.form input[type="email"]:hover,
.form input[type="number"]:hover,
.form input[type="search"]:hover,
.form input[type="tel"]:hover,
.form input[type="password"]:hover,
.form input[type="date"]:hover,
.form select:hover{
    border-color: rgba(0,0,0, .2) !important;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="tel"]:focus,
.form input[type="password"]:focus,
.form input[type="date"]:focus,
.form select:focus{
    color: #111 !important;
    border-color: rgba(0,0,0, .7) !important;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0, .3) !important;
    -moz-box-shadow: 0 0 3px rgba(0,0,0, .3) !important;
    box-shadow: 0 0 3px rgba(0,0,0, .3) !important;
}

.form textarea{
    color: #777 !important;
    border-color: rgba(0,0,0, .1) !important;
}
.form textarea:hover{
    border-color: rgba(0,0,0, .2) !important;
}
.form textarea:focus{
    color: #111 !important;
    border-color: rgba(0,0,0, .7) !important;
    -webkit-box-shadow: 0 0 3px rgba(21,21,21, .3) !important;
    -moz-box-shadow: 0 0 3px rgba(21,21,21, .3) !important;
    box-shadow: 0 0 3px rgba(21,21,21, .3) !important;
}

.hs-line-4{
    color: rgba(0,0,0, .85) !important;
}

.hs-line-10{
    background: rgba(0,0,0, .75) !important;
    color: rgba(255,255,255, .85) !important;
}

.hs-line-10.highlight{
    background: #e41919 !important;
}

.logo,
a.logo:hover{
    color: rgba(0,0,0, .9) !important;
}

.inner-nav ul li a:hover,
.inner-nav ul li a.active{
    color: #000 !important;
}

.mn-soc-link{
    border: 1px solid rgba(0,0,0, .1) !important;
}
.mn-soc-link:hover{
    border: 1px solid rgba(0,0,0, .25) !important;
}

.count-wrapper{
    border: 1px solid rgba(0,0,0, .09) !important;
}

.work-full-detail p{
    border-top: 1px solid rgba(0,0,0, .05) !important;
}
.work-full-detail p:last-child{
    border-bottom: 1px solid rgba(0,0,0, .05) !important;
}

.banner-decription{
    color: rgba(255,255,255, .7) !important;
}

.tpl-alt-tabs li.active a,
.tpl-alt-tabs li.active a:hover,
.tpl-alt-tabs li.active a:focus{
    color: black !important;
    font-weight: bold;
}

.blog-post-prev-small{
    border-top: 1px dotted #000000 !important;
}
