{% if last_works %}

<section class="page-section">
    <div class="container relative">
        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
            Последние работы
            <a href="/work_categories/" class="section-more right ajax blog">
              Перейти в раздел
            </a>
        </h2>
        <ul class="works-grid work-grid-2 work-grid-gut clearfix font-alt">
          {% for object in last_works %}
          <li class="work-item">
            <a href="/work/1/{{ object.id }}/" class="ajax mfp-image">
              <div class="work-img">
                <img class="image_fit_300" src="{{ object.image | replace(from="./", to="/") }}" alt="Work">
              </div>
              <div class="work-intro">
                <h3 class="work-title">
                  {{ object.title }}
                </h3>
                <div class="work-descr">
                  {{ object.description }}
                </div>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
    </div>
</section>
{% endif %}
