<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="amphtml" href="">
    <meta property="og:type" content="website" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="canonical" href="" />
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
    <link type="text/css" media="all" rel="stylesheet" href="/static/styles/bootstrap.min.css">
    <link type="text/css" media="all" rel="stylesheet" href="/static/styles/style.css">

    <link type="text/css" media="none" onload="if(media!='all')media='all'" rel="stylesheet" href="/static/styles/animate.min.css">
    <link type="text/css" onload="if(media!='all')media='all'" rel="stylesheet" href="/static/styles/fonts.css">
    <link type="text/css" media="none" onload="if(media!='all')media='all'" rel="stylesheet" href="/static/styles/vertical-rhythm.min.css">
    <link class="color" type="text/css" media="none" onload="if(media!='all')media='all'" rel="stylesheet" href="/static/styles/color/white.css">
</head>
<body>
    <div class="page" id="top">
        <span id="ajax">
            <span id="reload_block">
                {% block content %}
                {% endblock %}
            </span>
        </span>
        <svg fill="currentColor" class="mob_menu" height="33" viewBox="0 0 24 24" width="33">
          <path d="M0 0h24v24H0V0z" fill="none"/><path d="M3 18h13v-2H3v2zm0-5h10v-2H3v2zm0-7v2h13V6H3zm18 9.59L17.42 12 21 8.41 19.59 7l-5 5 5 5L21 15.59z"/>
        </svg>
        <br><br><br>
        {% include "mobile/mobile_tab.html" %}

        <div class="card mb-3 window_fullscreen border" style="display:none">
    		  <span class="window_fullscreen_hide">
    		    <svg style="width: 30px;" fill="currentColor" viewBox="0 0 24 24">
    		      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
    		      <path d="M0 0h24v24H0z" fill="none"/>
    		    </svg>
    		  </span>
    		  <div id="fixed_nav_block" style="margin-top:30px;position:relative;">
            <div class="container">
              <span class="banner_block" style="width:100%;text-align:center;">
                <h3 class="hs-line-8 font-alt mb-xs-10">
                    Разработка соцсетей
                </h3>
                <h2 class="hs-line-14" style="margin-bottom: 0;">
                  <a href="/" class="ajax">
                    getnetwork!
                  </a>
                </h2>
              </span>
            </div>
          </div>
          <div id="reload_nav_block" class="container" style="margin-top:20px;position:relative;">
            {% block sidebar %}
            {% endblock %}
          </div>
    		</div>
    </div>
    <script defer type="text/javascript" src="/static/scripts/wow.min.js"></script>
    <script defer type="text/javascript" src="/static/scripts/mobile/func.js"></script>
    <script defer type="text/javascript" src="/static/scripts/mobile/main.js"></script>
    <script defer type="text/javascript" src="/static/scripts/main.js"></script>
    {% if is_admin %}
      <script defer type="text/javascript" src="/static/scripts/admin.js"></script>
    {% endif %}
</body>

</html>
