{% extends "desctop/base.html" %}
{% block title %}Наши товары{% endblock %}
{% block content %}

<section class="bg-gray-lighter" style="padding-top: 90px;">
    <div class="relative container align-left">
        <div class="hs-line-4 font-alt black">
            <a class="ajax" href="/">
                Главная
            </a>
            &nbsp;/&nbsp;
            <span>Категории товаров</span>
        </div>
    </div>
</section>

<section class="page-section" style="padding-top: 45px;">
    <div class="container relative">

        <div class="row">
            <div class="col-sm-8">
                {% for category in store_categories %}
                {% if loop.index == 1 %}
                {% set object_list = stores1 %}
                {% elif loop.index == 2 %}
                {% set object_list = stores2 %}
                {% elif loop.index == 3 %}
                {% set object_list = stores3 %}
                {% elif loop.index == 4 %}
                {% set object_list = stores4 %}
                {% endif %}

                <h3 class="blog-item-title font-alt mb-10">
                    <a class="ajax" href="/store/{{ category.id }}/">
                        {{ category.name }}
                    </a>
                </h3>
                <div class="row multi-columns-row">
                    {% if object_list %}
                      {% for object in object_list %}
                        {% include 'desctop/generic/store.html' %}
                      {% endfor %}
                    {% else %}
                      <p>Список пока пустой...</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">
                {% include 'desctop/stores/sidebar.html' %}
            </div>
        </div>

    </div>
</section>

{% endblock %}
