<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="amphtml" href="">
    <meta property="og:type" content="website" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="canonical" href="" />
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}

    <link type="text/css" media="all" rel="stylesheet" href="/static/styles/bootstrap.min.css">
    <link type="text/css" media="all" rel="stylesheet" href="/static/styles/style.css">

    <link type="text/css" media="none" onload="if(media!='all')media='all'" rel="stylesheet" href="/static/styles/animate.min.css">
    <link type="text/css" onload="if(media!='all')media='all'" rel="stylesheet" href="/static/styles/fonts.css">
    <link type="text/css" media="none" onload="if(media!='all')media='all'" rel="stylesheet" href="/static/styles/vertical-rhythm.min.css">
    <link class="color" type="text/css" media="none" onload="if(media!='all')media='all'" rel="stylesheet" href="/static/styles/color/white.css">
</head>

<body>

    <div class="page" id="top">
        {% include "desctop/demo_navbar.html" %}

        <span id="ajax">
            <span id="reload_block">
                {% block content %}
                {% endblock %}
                <div id="fullscreens_container"></div>
            </span>
        </span>

        {% include "desctop/footer.html" %}
    </div>
    <div class="body_overlay pointer"></div>
    
    <script defer type="text/javascript" src="/static/scripts/wow.min.js"></script>
    <script defer type="text/javascript" src="/static/scripts/desctop/main.js"></script>
    <script defer type="text/javascript" src="/static/scripts/main.js"></script>
    {% if is_admin %}
      <script defer type="text/javascript" src="/static/scripts/admin.js"></script>
    {% endif %}
</body>

</html>
