<nav class="main-nav small-height stick-fixed">
    <div class="full-wrapper relative clearfix">
        <div class="nav-logo-wrap local-scroll">
            <a href="/" class="logo ajax">
                getnetwork
            </a>
        </div>
        <div class="inner-nav desktop-nav">
            <ul class="clearlist">
                <li>
                    <a href="/" class="ajax">Главная</a>
                </li>
                <li>
                    <a href="/service_categories/" class="mn-has-sub ajax">Услуги</a>
                    <ul class="mn-sub wow fadeIn" data-wow-duration="0.8s">
                      {% for object in service_categories %}
                        <li>
                            <a class="mn-group-title ajax" href="/service/{{ object.id }}/">{{ object.name }} - {{ object.service_count }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="/work_categories/" class="mn-has-sub ajax">Портфолио</a>
                    <ul class="mn-sub wow fadeIn">
                      {% for object in work_categories %}
                        <li>
                            <a class="mn-group-title ajax" href="/work/{{ object.id }}/">{{ object.name }} - {{ object.work_count }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="/store_categories/" class="mn-has-sub ajax">Товары</a>
                    <ul class="mn-sub wow fadeIn">
                      {% for object in store_categories %}
                        <li>
                            <a class="mn-group-title ajax" href="/store/{{ object.id }}/">{{ object.name }} - {{ object.store_count }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                </li>

                <li>
                    <a href="/wiki_categories/" class="mn-has-sub ajax">База знаний</a>
                    <ul class="mn-sub wow fadeIn">
                      {% for object in wiki_categories %}
                        <li>
                            <a class="mn-group-title ajax" href="/wiki/{{ object.id }}/">{{ object.name }} - {{ object.wiki_count }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="/blog_categories/" class="mn-has-sub ajax">Блог</a>
                    <ul class="mn-sub wow fadeIn">
                      {% for object in blog_categories %}
                        <li>
                            <a class="mn-group-title ajax" href="/blog/{{ object.id }}/">{{ object.name }} - {{ object.blog_count }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="/tags/" class="ajax">Теги</a>
                </li>
                <li>
                    <a href="#" class="mn-has-sub">Инфо</a>
                    <ul class="mn-sub wow fadeIn">
                        <li>
                            <a class="ajax" href="">Команда</a>
                        </li>
                        <li>
                            <a class="ajax" href="/about/">Сайт</a>
                        </li>
                        <li>
                            <a class="ajax" href="">Сотрудничество</a>
                        </li>
                        <li>
                            <a class="ajax" href="/contacts/">Контакты</a>
                        </li>
                    </ul>
                </li>
                <li><a>&nbsp;</a></li>
                <li>
                    <a class="mn-has-sub" data-color="white">
                      <span class="icon-magnifying-glass"></span>
                    </a>
                    <ul class="mn-sub to-left" style="right: -70px;">
                        <li>
                            <div class="mn-wrap">
                                <form method="post" class="form">
                                    <div class="search-wrap">
                                        <button class="search-button animate" type="submit" title="Поиск"></button>
                                        <input type="text" class="general_search form-control search-field" placeholder="Поиск...">
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="mn-has-sub">Ru</a>
                    <ul class="mn-sub">
                        <li><a href="" class="active">Ru</a></li>
                        <li><a href="">En</a></li>
                    </ul>
                </li>
                <li>
                  <a class="pointer anon_color_change" data-color="white">
                    <span class="icon-pencil"></span>
                  </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
