{% extends "mobile/base.html" %}
{% block title %}Изменение категории блога{% endblock %}
{% block content %}

<section class="bg-gray-lighter" style="padding-top: 90px;">
    <div class="relative container align-left">
                <div class="hs-line-4 font-alt black">
                    <a class="ajax" href="/">Главная</a>
                    &nbsp;/&nbsp;
                    <a class="ajax" href="/blog_categories/">Блог</a>
                    &nbsp;/&nbsp;
                    <span>Изменение статьи</span>
                </div>
    </div>
</section>
<section class="page-section">
    <div class="container relative">
<form enctype="multipart/form-data" class="form mb-20 col-md-8 col-md-offset-2">
  <div class="mb-20 mb-md-10">
    <input value="{{ category.name }}" class="input-md form-control" type="text" name="name" placeholder="Название" />
  </div>
  <div class="mb-20 mb-md-10">
      <input class="input-md form-control" value="{{ category.description }}" type="text" name="description" placeholder="Описание" />
  </div>
  <div class="mb-20 mb-md-10">
    <input value="{{ category.blog_position }}" class="input-md form-control" type="number" name="position" placeholder="Порядок следования" />
  </div>
  <div class="mb-20 mb-md-10">
    <img style="height:50px" src="{{ category.image }}" />
      <label>Обложка</label>
      <input class="input-md form-control" class="input-md form-control" type="file" name="image" />
  </div>
  <button data-pk="{{ category.id }}" class="btn btn-mod btn-border btn-medium btn-round" style="float: right;" type="button" id="edit_blog_category_btn">Создать</button>
</form>
</div>
</section>
{% endblock %}
