{% extends "mobile/base.html" %}
{% block title %}Изменение статьи {{ blog.title }}{% endblock %}
{% block content %}

<section class="bg-gray-lighter" style="padding-top: 90px;">
    <div class="relative container align-left">
                <div class="hs-line-4 font-alt black">
                    <a class="ajax" href="/">Главная</a>
                    &nbsp;/&nbsp;
                    <a class="ajax" href="/blog/{{ blog.id }}/">{{ blog.title }}</a>
                    &nbsp;/&nbsp;
                    <span>Изменение статьи</span>
                </div>
    </div>
</section>

<section class="page-section">
    <div class="container relative">
        <form class="col-md-8 col-md-offset-2 form" enctype="multipart/form-data">
            <div class="mb-20 mb-md-10">
                <input value="{{ blog.title }}" class="input-md form-control" type="text" name="title" placeholder="Название" />
            </div>
            <div class="mb-20 mb-md-10">
                <input value="{{ blog.description }}" class="input-md form-control" type="text" name="description" placeholder="Описание" />
            </div>
            <div class="mb-20 mb-md-10">
                <input value="{{ blog.link }}" class="input-md form-control" type="text" name="link" placeholder="Ссылка" />
            </div>
            <div class="mb-20 mb-md-10">
              <img style="height:50px" src="{{ blog.image | replace(from="./", to="/") }}" />
              <label>Обложка</label>
              <input class="input-md form-control" type="file" name="main_image" />
            </div>
            <div class="mb-20 mb-md-10">
                <label>Категории</label>
                <select class="form-control" name="category_list[]" multiple="">
                  {% for category in blog_categories %}
                    <option {% if category in categories %}selected=""{% endif %} value="{{ category.id }}">{{ category.name }}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="mb-20 mb-md-10">
                <label>Теги</label>
                <select class="form-control" name="tags_list[]" multiple="">
                  {% for tag in all_tags %}
                    <option {% if tag in blog_tags %}selected=""{% endif %} value="{{ tag.id }}">{{ tag.name }}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="mb-20 mb-md-10">
              {% for img in images %}
                <img style="height:50px" src="{{ img.src | replace(from="./", to="/") }}" />
              {% endfor %}
              <br>
                <label>Изображения</label>
                <input type="file" multiple name="images[]" />
            </div>
            <div class="mb-20 mb-md-10">
              {% for video in videos %}
                <video width="400" height="300" controls="controls">
                  <source src="{{ video.src | replace(from="./", to="/") }}" type='video/mp4;'>
                </video>
              {% endfor %}
              <br>
                <label>Видеозаписи</label>
                <input type="file" multiple name="videos[]" />
            </div>
            <div class="mb-20 mb-md-10">
              <label class="checkbox-inline">
                <input type="checkbox" name="is_active" {% if blog.is_blog_active %}checked{% endif %}>
                  Статья открыта
              </label>
            </div>
            <button data-pk="{{ blog.id }}" style="float: right;" class="btn btn-mod btn-border btn-medium btn-round" type="button" id="edit_blog_btn">Изменить</button>
        </form>
    </div>
</section>

{% endblock %}
