{% extends "mobile/base.html" %}
{% block title %}Изменение текста статьи {{ blog.title }}{% endblock %}
{% block content %}

<section class="bg-gray-lighter" style="padding-top: 90px;">
    <div class="relative container align-left">
                <div class="hs-line-4 font-alt black">
                    <a class="ajax" href="/">Главная</a>
                    &nbsp;/&nbsp;
                    <a class="ajax" href="/blog/{{ blog.id }}/">{{ blog.title }}</a>
                    &nbsp;/&nbsp;
                    <span>Изменение текста статьи</span>
                </div>
    </div>
</section>

<section class="page-section">
    <div class="container relative">
        <form class="col-md-8 col-md-offset-2 form" enctype="multipart/form-data">
          <div class="mb-20 mb-md-10">
            <p></p>
              <div style="display:inline-block" contenteditable="true" placeholder="Содержимое" class="input-md form-control content_1 smile_supported">{{ blog.content | safe }}</div>
          </div>
          <button data-pk="{{ blog.id }}" style="float: right;" class="btn btn-mod btn-border btn-medium btn-round" type="button" id="edit_text_blog_btn">Изменить</button>
        </form>
    </div>
</section>

{% endblock %}
