{% extends "desctop/base.html" %}
{% block title %}Услуги | {{ object.title }}{% endblock %}
{% block content %}

<section class="bg-gray-lighter"style="padding-top: 90px;">
  <div class="relative container align-left">
    <div class="hs-line-4 font-alt black">
      <a class="ajax"href="/">Главная</a>
      &nbsp;/&nbsp;
      <a class="ajax"href="/service_categories/">Услуги</a>
      &nbsp;/&nbsp;
      <a class="ajax"href="/service/{{ category.id }}/"> {{ category.name }}</a>
    </div>
  </div>
</section>

<section class="page-section">
    <div class="container relative">
        <div class="row">
            <div class="col-sm-8">

            </div>
            <div class="col-sm-4">
              {% include 'desctop/services/sidebar.html' %}
            </div>
{% endblock %}
