{% extends "desctop/base.html" %}
{% block title %}Услуги | {{ object.title }}{% endblock %}
{% block content %}

<section class="bg-gray-lighter" style="padding-top: 90px;">
    <div class="relative container align-left">
        <div class="hs-line-4 font-alt black">
            <a class="ajax" href="/">Главная</a>
            &nbsp;/&nbsp;
            <a class="ajax" href="/service_categories/">Услуги</a>
            &nbsp;/&nbsp;
            <a class="ajax" href="/service/{{ category.id }}/"> {{ category.name }}</a>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="blog-item-body">
                    <h1 class="mt-0 font-alt">{{ object.title }}</h1>
                    <div class="blog-item-data">
                        | <a class="ajax" href="/edit_service/{{ object.id }}/">~</a>
                        | <a class="ajax" href="/edit_content_service/{{ object.id }}/?content=">Aa</a>
                        | <a class="pointer remove_service" data-pk="{{ object.id }}">x</a>
                        <span class="separator">&nbsp;</span>
                    </div>

                </div>


                {% for category in tech_categories | reverse %}
                {% set is_main_cat = category.name in service_categories_names %}

                  {% if loop.index == 1 %}
                    {% set category_list = serve_categories1 %}
                    {% set loop_index = 1 %}
                  {% elif loop.index == 2 %}
                    {% set category_list = serve_categories2 %}
                    {% set loop_index = 2 %}
                  {% elif loop.index == 3 %}
                    {% set category_list = serve_categories3 %}
                    {% set loop_index = 3 %}
                  {% elif loop.index == 4 %}
                    {% set category_list = serve_categories4 %}
                    {% set loop_index = 4 %}
                  {% endif %}

                <section class="page-section">
                  {% if is_main_cat %}
                    <h2 class="section-title font-alt">
                        {{ category.name }}
                    </h2>
                  {% else %}
                    <h2 class="pointer section-title font-alt show_this_cat">
                        {{ category.description }}
                    </h2>
                  {% endif %}
                    <div  class="{% if not is_main_cat %}hidden is_not_main_cat{% endif %}">
                        <div class="align-center mb-40 mb-xs-30">
                            <ul class="nav nav-tabs tpl-minimal-tabs animate">
                              {% for category in category_list %}
                                <li class="yy s_{{ loop.index }} {% if loop.first %}active{% endif %}">
                                    <a class="pointer">{{ category.name }}</a>
                                </li>
                              {% endfor %}
                            </ul>
                        </div>

                        <div class="tab-content tpl-minimal-tabs-cont section-text" style="height: auto;">
                          {% for category in category_list %}

                            {% if loop_index == 1 %}
                              {% if loop.index == 1 %}
                                {% set object_list = _1serves1 %}
                              {% elif loop.index == 2 %}
                                {% set object_list = _1serves2 %}
                              {% elif loop.index == 3 %}
                                {% set object_list = _1serves3 %}
                              {% elif loop.index == 4 %}
                                {% set object_list = _1serves4 %}
                              {% endif %}

                            {% elif loop_index == 2 %}
                              {% if loop.index == 1 %}
                                {% set object_list = _2serves1 %}
                              {% elif loop.index == 2 %}
                                {% set object_list = _2serves2 %}
                              {% elif loop.index == 3 %}
                                {% set object_list = _2serves3 %}
                              {% elif loop.index == 4 %}
                                {% set object_list = _2serves4 %}
                              {% endif %}

                            {% elif loop_index == 3 %}
                              {% if loop.index == 1 %}
                                {% set object_list = _3serves1 %}
                              {% elif loop.index == 2 %}
                                {% set object_list = _3serves2 %}
                              {% elif loop.index == 3 %}
                                {% set object_list = _3serves3 %}
                              {% elif loop.index == 4 %}
                                {% set object_list = _3serves4 %}
                              {% endif %}

                            {% elif loop_index == 4 %}
                              {% if loop.index == 1 %}
                                {% set object_list = _4serves1 %}
                              {% elif loop.index == 2 %}
                                {% set object_list = _4serves2 %}
                              {% elif loop.index == 3 %}
                                {% set object_list = _4serves3 %}
                              {% elif loop.index == 4 %}
                                {% set object_list = _4serves4 %}
                              {% endif %}
                            {% endif %}

                            <div total-price="{{ category.default_price }}" class="tab_{{ loop.index }} fade tab-pane {% if loop.first %}in active{% endif %}">
                                <table class="table">
                                    <h4>
                                      <span data-pk="{{ category.id }}" data-type="serve_category" owner-pk="{{ object.id }}" owner-type="service" class="pointer get_object_info " tooltip="Справка" flow="up" style="margin-left:7px">
                                        {{ category.name }}
                                      </span>
                                    </h4>
                                    <tbody>
                                        {% for serve in object_list %}
                                        <tr class="{% if serve.is_default %}is_default hover{% else %}select_serve pointer{% endif %}">
                                            <td style="width:52%">
                                                <a class="pointer underline get_object_info" data-pk="{{ serve.id }}" data-type="serve" owner-pk="{{ object.id }}" owner-type="service">
                                                    {{ serve.name }}
                                                </a>
                                            </td>
                                            <td class="price_td" tooltip="Сумма" flow="up" style="width:12%"><span class="price">{{ serve.price }}</span> ₽</td>
                                            {% if serve.price_acc %}
                                            <td class="price_acc_td" tooltip="Со скидкой" flow="up" style="width:12%">↓ <span class="price_acc">{{ serve.price_acc }}</span> ₽</td>
                                            {% else %}
                                            <td style="width:12%"></td>
                                            {% endif %}
                                            <td tooltip="Человеко-часы" flow="up" style="width:12%">{{ serve.man_hours }} ⌛</td>
                                            <td style="width:12%">
                                              {% if not serve.is_default %}
                                                Выбрать
                                              {% else %}
                                                Выбрано
                                              {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% if loop.index == 1 %}
                                <div class="mt-40 align-right">
                                    <a data-sum="{{ category.default_price }}" data-pk="{{ object.id }}" class="btn pointer create_order_form_of_service btn-mod border btn-small btn-circle">
                                        Сумма
                                        <span class="total_price_counter">
                                          {{ category.default_price }}
                                        </span>. Перейти к заказу
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                          {% endfor %}
                        </div>
                    </div>
                </section>
                {% endfor %}
            </div>
            <div class="col-sm-4">
                {% include 'desctop/services/sidebar.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
