{% extends "desctop/base.html" %}
{% block title %}Блог | {{ category.name }}{% endblock %}
{% block content %}

<section class="bg-gray-lighter" style="padding-top: 90px;">
    <div class="relative container align-left">
        <div class="hs-line-4 font-alt black">
            <a class="ajax" href="/">Главная</a>
            &nbsp;/&nbsp;
            <a class="ajax" href="/blog_categories/">Блог</a>
            &nbsp;/&nbsp;
            <span>{{ category.name }}</span>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container relative">
        <div class="row">
            <div class="col-sm-8">
                <div class="row multi-columns-row">
                  {% if blogs %}
                    {% for object in blogs %}
                      {% include 'desctop/generic/blog.html' %}
                    {% endfor %}
                  {% else %}
                    <p>Список пока пустой...</p>
                  {% endif %}
                </div>
            </div>
            <div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">
                {% include 'desctop/blogs/sidebar.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
