{% extends "mobile/base.html" %}
{% block title %}Наши услуги{% endblock %}
{% block content %}

<section class="bg-gray-lighter" style="padding-top: 90px;">
    <div class="relative container align-left">
                <div class="hs-line-4 font-alt black">
                    <a class="ajax" href="/">Главная</a>
                    &nbsp;/&nbsp;
                    <span>Услуги</span>
                </div>
    </div>
</section>

<section class="page-section" style="padding-top: 45px;">
    <div class="container relative">
<div class="section-text">
    <div class="row">
      <div class="mb-sm-50">
        <p>
        <strong>Компания "Getnetwork"</strong> предоставляет услуги по разработке, доработке, поддержке больших,
        высоконагруженных проектов, а также по обучению и переподготовке ваших специалистов в данной сфере.<br>
        Мы считаем, что <strong>данная ниша бизнеса</strong>, как минимум, <strong>не освоена до конца</strong>. Сложности
        в данной проблематике создаёт и большое количество фирм, предлагающих подобные услуги,
        и <strong>вот почему</strong>:

        <ul class="my_ul">
          <li>Многие фирмы штампуют низкокачественные, ограниченные ресурсы, не достающие даже до плинтуса сетей типа "Вконтакте"
          или "Фейсбук". Часто в ход идут даже CMS - готовые движки для обычных задач, пригодные для небольших проектов.
          </li>
          <li>За неинтересные программные варианты требуется много денег. Часто даже не пишут, о каких суммах идет речь.
            Понятно, что вопрос сложный и сколько финансов точно надо — сразу никто не скажет. Но рамки-то?
          </li>
          <li>Нет никакой дополнительной информации — на чём пишут код, чем украшают, где хранить собираются, как реализуют важные
            требования сетей. А ведь фирмы-то торгуют не пирожками, а сайтами за миллионы. Проблема доверия здесь особенно
            нужна и важна.
          </li>
          <li>Часто заказчик хочет, например, соцсеть, так как у него есть инвестиции и он знает, что с помощью идеи (да даже не обязательно)
            и денег можно это сделать и потом получать неплохие дивиденды. И такие люди часто сами хотят обрести примерное
            понимание товара, который хотят купить. И видит он, например, «улучшенная геолокация» (это такая опция к сети).
            Что это такое? Почему прямо на сайте не добавить кнопочку «что это»?
          </li>
          <li>
            Портфолио если и присутствуют на сайтах фирм, то часто вызывают слезы. Даже в работах единственной замечательной
            фирмы, которую мы нашли в интернете, есть недопустимые нюансы. К примеру, отсутствие блочной подгрузки, котрая решает
            много важных задач сразу.
          </li>
        </ul>
        <br>
        <strong>Мы</strong> постарались учесть многие нюансы в организации производства самых сложных сайтов в мире и
        <strong>умеем показывать полную и прозрачную картину всего цикла создания высоконагруженных проектов</strong>.
        </p>
      </div>
    </div>
</div>
</div>
</section>

<section class="page-section">
    <div class="container relative">
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Наши услуги
        </h2>
        <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
            <li class="yy s_1 active">
                <a><div class="alt-tabs-icon"><span class="icon-gears"></span></div>Разработка</a>
            </li>
            <li class="yy s_2 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-piechart"></span></div>Партнёрство</a>
            </li>
            <li class="yy s_3 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-lifesaver"></span></div>Поддержка</a>
            </li>
            <li class="yy s_4 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-trophy"></span></div>Обучение</a>
            </li>
        </ul>

        <div class="tab-content tpl-tabs-cont">
            <div class="tab_1 fade tab-pane in active wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                        <div class="mb-sm-50">
                          <blockquote style="margin-bottom: 10px">
                            <span class="icon-attachment"></span>
                            <a href="" class="ajax" style="text-decoration: underline;">Разработка</a>
                          </blockquote>
                          <p>
                          <strong>Мы</strong> любим и <strong>знаем свою работу</strong> по разработке любых сайтов.<br><br>
                          Вот <strong>ключевые моменты</strong>:
                          <ul class="my_ul">
                              <li>Пользуемся только чистым кодом (python, rust, javascript, c++ и т.д.).</li>
                              <li>Не используем сторонние плагины и "костыли". Только необходимый код, который нужен для обозначенных задач.
                                Никакого мусора.</li>
                              <li>Даём взвешенный и авторитетный анализ предлагаемых проектов. Всё, что может прийти к Вам в голову,
                              мы скорее всего делали.</li>
                              <li>Выполняем работу с опережением ожиданий заказчиков. Так как знаем самые лучшие практики программирования
                              и стремимся производить продукты только высочайшего класса.</li>
                              <li>Опираемся на качества порядочных людей. Не делаем игровые, сутенерские, кредитные,
                                нарко-направленные, порнографические сайты. Наша репутация тверда и есть много отзывов.</li>
                              <li>Выкатываем увесистые скидки на проекты социальной значимости.</li>
                          </ul>
                          </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab_2 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote style="margin-bottom: 10px">
                          <span class="icon-attachment"></span>
                          <a href="" class="ajax" style="text-decoration: underline;">Партнёрство</a>
                        </blockquote>
                        <p>
                          Иногда у талантливых людей появляются крутые идеи, средства, хорошие связи и они мотивированы на
                          создание большого проекта, но по каким-либо причинам не могут довести дело до конца. <br>
                          <strong>Компания "getnetwork" с удовольствием обсудит предложения</strong> таких людей. Мы можем
                          решить любой вопрос в обозначенной сфере. <br><br>
                          Вот <strong>важные нюансы</strong>:
                          <ul class="my_ul">
                              <li>Ваш проект должен придерживаться принципов порядочности и прозрачности в нашем сотрудничестве.</li>
                              <li>Мы рассматриваем несколько вариантов партнёрства: 30 / 70 (мы / Вы), 50/ 50, 70 / 30.</li>
                              <li>Ваш проект должен находиться на нашей платформе при нашей поддержке. Так будет комфортнее и нам, и Вам.</li>
                              <li>Мы готовы продемонстрировать отзывы и рекомендации уважаемых и почётных людей м компаний в подтверждение
                              наших честных намерений, и ждём от Вас того же.</li>
                              <li>Наши договор и отношения должны иметь все атрибуты законности и здравого смысла.</li>
                          </ul>
                        </p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="tab_3 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote style="margin-bottom: 10px">
                          <span class="icon-attachment"></span>
                          <a href="" class="ajax" style="text-decoration: underline;">Поддержка</a>
                        </blockquote>
                        <p>
                          Мы готовы взять на себя все технические вопросы по организации надежного и развивающегося проекта.<br><br>
                          <strong>Что</strong> же <strong>сюда входит</strong>:
                          <ul class="my_ul">
                              <li>Использование наших модулей и стандартов для гарантий безаварийного существования Вашего ресурса.</li>
                              <li>Огромный выбор предложений и дополнений для усовершенствования процессов проекта.</li>
                              <li>Устойчивая надежность нашей платформы. Гибкая и полная настройка статистики и отчетов по всем процессам.</li>
                              <li>
                                Предоставление особого профиля со стандартизированной защитой его данных. Прямо на этом сайте.
                                Двухфакторная авторизация, использование аварийного слова/слов, ограниченные сессии, оповещение о смене ip,
                                история активности акаунта.
                              </li>
                          </ul>
                        </p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="tab_4 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote style="margin-bottom: 10px">
                          <span class="icon-attachment"></span>
                          <a href="" class="ajax" style="text-decoration: underline;">Обучение</a>
                        </blockquote>
                        <p>
                          <strong>Нередко</strong> бывает так, что <strong>компания-заказчик</strong> имеет повышенную секретность
                          своей деятельности, оперирует ценной коммерческой информацией и не <strong>может доверить воплощение своих
                          идей</strong> в корпоративной или приватной сети. Мы понимаем такие случаи и оказываем услуги по обучению сотрудников
                          с любым уровнем технической подготовки. Таким образом Ваша фирма сможет построить высоконагруженный сайт и не
                          опасаться потери конфеденциальных данных.
                          <strong>Чему мы можем научить</strong>:<br><br>
                          <ul class="my_ul">
                              <li>Создавать веб-ресурсы повышенной сложности с нуля.</li>
                              <li>Организовать полный стек нужных инструментов: базы данных с веб-сайтом(ами), мобильными приложениями.</li>
                              <li>Уметь создавать нейронные сети на python и c++. Работать с ними.</li>
                              <li>Знать основы администрирования в: linux, postgres, git, движках сайтов.</li>
                              <li>Выполнять масштабирование и развитие любых проектов в любых направлениях.</li>
                          </ul>
                        </p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container relative">
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Почему мы?
        </h2>

        <div class="row multi-columns-row alt-features-grid">
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class="icon-flag"></span>
                    </div>
                    <h3 class="alt-features-title font-alt">Мы эффективные</h3>
                    <div class="alt-features-descr align-left">
                        В процессе становления нашего опыта мы не "завалили" ни один проект. Ни один
                        заказчик не был расстроен результатом нашей работы.
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class="icon-clock"></span>
                    </div>
                    <h3 class="alt-features-title font-alt">Мы пунктуальные</h3>
                    <div class="alt-features-descr align-left">
                        Наши успехи в объектно-ориентированном программировании позволили накопить
                        огромное количество программных пакетов и решений.
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class="icon-hotairballoon"></span>
                    </div>
                    <h3 class="alt-features-title font-alt">Мы узнаваемые</h3>
                    <div class="alt-features-descr align-left">
                        Всего за несколько лет упорного развития мы получили некоторую известность в России,
                        поработав со знаменитыми в своих сферах людьми и организациями. Есть даже знакомые депутаты.
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class="icon-heart"></span>
                    </div>
                    <h3 class="alt-features-title font-alt">Мы любим своё дело</h3>
                    <div class="alt-features-descr align-left">
                        Пишем на чистых языках программирования, создаем только свои технические решения.
                        И умеем всё.
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class="icon-linegraph"></span>
                    </div>
                    <h3 class="alt-features-title font-alt">Мы приносим прибыль</h3>
                    <div class="alt-features-descr align-left">
                        Представьте себе, что Вам сделали соцсеть навроде Youtube, с бизнес-логикой и монетизацией.
                        Это сделает Вас богаче?
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class="icon-chat"></span>
                    </div>
                    <h3 class="alt-features-title font-alt">Мы хотим дружить</h3>
                    <div class="alt-features-descr align-left">
                        getNetwork готов сотрудничать с Вами! Просто напишите нам и расскажите о своих идеях.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="border small-section bg-dark">
    <div class="container relative">
        <div class="align-center">
            <h3 class="banner-heading font-alt">Хотите обсудить проект?</h3>
            <div>
                <a href="" class="btn btn-mod btn-border btn-medium btn-round ajax">Напишите нам</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
