{% extends "mobile/base.html" %}
{% block title %}Услуги | {{ service.title }}{% endblock %}
{% block content %}

<a class="ajax" href="/">Главная</a><br><br>
  <br><br>
  {% for category in categories %}
    <a class="ajax" href="/work/{{ category.id }}/">
      {{ category.name }}
    </a>
  {% endfor %}
<br><br>
{{ work.title }}<br>

<br><br><br>
{% for img in images %}
  <img style="height:50px" src="{{ img.src }}" />
{% endfor %}
<br><br><br>
{% for video in videos %}
  <video width="400" height="300" controls="controls">
    <source src="{{ video.src }}" type='video/mp4;'>
  </video>
{% endfor %}

{% endblock %}
