
<div class="widget">
    <h5 class="widget-title font-alt">Категории</h5>
    <div class="widget-body">
        <ul class="clearlist widget-menu">
          {% for category in work_categories %}
            <li>
                <a class="ajax" href="/work/{{ category.id }}/">{{ category.name }}</a>
                <small>
                    - {{ category.work_count }}
                </small>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="widget">
    <h5 class="widget-title font-alt">Теги ({{ tags_count }})</h5>
    <div class="widget-body">
        <div class="tags">
          {% for tag in tags %}
            <a class="ajax" href="/tag/{{ tag.id }}/">{{ tag.name }} ({{ tag.tag_count }})</a>
          {% endfor %}
        </div>
    </div>
</div>
{% if is_admin %}
<div class="widget">
  <a href="/create_work_categories/" class="ajax">Создать категорию</a><br>
  <a href="/create_work/" class="ajax">Создать работу</a>
</div>
{% endif %}
