@charset "utf-8";

.progressive img {
    display: block;
    width: 100%;
    max-width: none;
    border: 0
}

.progressive img.preview {
    transform: scale(1)
}
.progressive img.reveal {
    position: absolute;
    left: 0;
    top: 0;
    animation: progressiveReveal 1s linear
}

@keyframes progressiveReveal {
    0% {
        transform: scale(1);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

p {
  margin: 0px 0px 1em !important;
}

.need_darked_this .dark_target {
  color: white !important;
  margin: 5px;
  background: rgba(127,127,127, 0.6);
}

.image_fit_200 {
  object-fit: cover;
  height: 200px;
  width: 100%;
}
.image_fit_300 {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.my_ul li {
  margin-bottom:5px
}
.mob_menu {
  z-index: 2;
  position: fixed;
  top: 15px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  transition: 2s;
}

.mobile_nav {
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  z-index: 900;
  position: fixed;
  width: 100%;
}

.mobile_icon {
  background: none;
  border: none;
  position: relative;
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  -webkit-animation: show 0.5s;
  animation: show 0.5s;
  padding-top: 5px;
  line-height: 16px;
}

.mobile_icon p {
  margin: 0 !important;
  font-size: 11px;
}

.mobile_icon_active span, .mobile_icon_current span{
  font-weight: bold;
}
.mobile_icon span {
  font-size:20px
}
.align-center { text-align:center !important; }
.align-left { text-align:left !important;}
.align-right { text-align:right !important; }
.left {float:left !important;}
.right {float:right !important;}
.relative {position:relative;}
.hidden {display:none;}
.inline-block{display:inline-block;}

.stick-fixed {
    position: fixed !important;
    top: 0;
    left: 0;
}

.clearlist, .clearlist li {
    list-style: none;
    padding: 0;
    margin: 0;
    background: none;
}

.full-wrapper {
    margin: 0 2%;
}

.container-1400 {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
  -webkit-font-smoothing: antialiased;
}
.page {
    overflow: hidden;
}

a, b, div, ul, li{
    -webkit-tap-highlight-color: transparent;
    -moz-outline-: none;
}

body{
    font-size: 14px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
    line-height: 1.4;
    font-weight: 400;

}
h1{
    font-size: 32px;
}
h2{
    font-size: 28px;
}
h6{
    font-weight: 700;
}
p{
    margin: 0 0 2em 0;
}
ul, ol{
    margin: 0 0 1.5em 0;
}
dl dt{
    margin-bottom: 5px;
}
dl dd{
    margin-bottom: 15px;
}

.uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
}
.font-alt {
    font-family: Dosis, arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.strong {
    font-weight: 700 !important;
}

.text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
}

.home-section {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-content {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

.home-text {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}


.hs-line-4 {
    margin-top: 0;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.hs-line-8 {
    margin-top: 0;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3em;
    line-height: 1.2;
    opacity: .75;
}
.hs-line-8.no-transp {
    opacity: 1;
}


.hs-line-14 {
    margin-top: 0;
    position: relative;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.7em;
}
.hs-line-15 {
    margin-top: 0;
    position: relative;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.3;
}

.nav-logo-wrap {
    float: left;
    margin-right: 20px;
}
.nav-logo-wrap .logo {
    display: table-cell;
    vertical-align: middle;
    max-width: 118px;
    height: 75px;
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.nav-logo-wrap .logo img {
    max-height: 100%;
}

.logo,
a.logo:hover {
    font-family: Dosis, arial, sans-serif;
    font-size: 18px;
    font-weight: 400 !important;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-decoration: none;
}

.main-nav {
    width: 100%;
    height: 75px !important;
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    z-index: 10;
    -webkit-transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.small-height {
    height: 55px !important;
}

.inner-nav {
    display: inline-block;
    position: relative;
    float: right;
    margin-top: 10px;
}

.mn-sub {
    display: none;
}

.mn-wrap {
    padding: 8px;
}

.page-section,
.small-section {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 0;
}
.small-section {
    padding: 70px 0;
}
.small-title {
    padding: 0;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.3em;
}
.small-title .serif {
    text-transform: none;
    font-weight: 400;
}

.section-title {
    margin-bottom: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5em;
    line-height: 1.4;
}

.section-text{
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7;
}

.image-fullwidth img{
    width: 100%;
}

.mod-breadcrumbs {
    margin-top: -5px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.4em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.mod-breadcrumbs span {
    opacity: .65;
}
.mod-breadcrumbs a {
    text-decoration: none;

}
.mod-breadcrumbs a:hover {
    text-decoration: none;
}

.mod-breadcrumbs-mini {
    text-align: left;
}

.fixed-height-small{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fixed-height-small{
    min-height: 600px;
}

.works-grid{
    list-style: none;
    margin: 0;
    padding: 0;
}
.work-item{
    width: 25%;
    float: left;
    margin: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.work-grid-3 .work-item{
    width: 33.333%;
}
.container .work-grid-3 .work-item{
    width: 33.2%;
}

.works-grid.work-grid-gut {
    margin: 0 0 0 -10px;
}

.banner-section {
    overflow: visible;
    border-bottom: 1px solid transparent;
}

.media-body{
    overflow: hidden;
}

.sidebar {
    margin-top: 10px;
}

.search-wrap {
    position: relative;
}
.search-field {
    width: 100% !important;
    height: 40px !important;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.search-button {
    width: 42px;
    height: 40px;
    line-height: 38px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    right: 1px;
    overflow: hidden;
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
}

.pr-button {
    margin: 30px -20px 0;
    padding-top: 30px;
}


.highlight pre{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.intro-image{
    width:100%;
}

.magazine-logo-text {
   margin-top: 0;
    position: relative;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.8;
}

.multi-columns-row .col-xs-6:nth-child(2n + 3) { clear: left; }
.multi-columns-row .col-xs-4:nth-child(3n + 4) { clear: left; }
.multi-columns-row .col-xs-3:nth-child(4n + 5) { clear: left; }

@media (min-width: 768px) {
    .multi-columns-row .col-xs-6:nth-child(2n + 3) { clear: none; }
    .multi-columns-row .col-xs-4:nth-child(3n + 4) { clear: none; }
    .multi-columns-row .col-xs-3:nth-child(4n + 5) { clear: none; }
    .multi-columns-row .col-xs-2:nth-child(6n + 7) { clear: none; }
    .multi-columns-row .col-sm-6:nth-child(2n + 3) { clear: left; }
    .multi-columns-row .col-sm-4:nth-child(3n + 4) { clear: left; }
    .multi-columns-row .col-sm-3:nth-child(4n + 5) { clear: left; }
}
@media (min-width: 992px) {
    .multi-columns-row .col-sm-6:nth-child(2n + 3) { clear: none; }
    .multi-columns-row .col-sm-4:nth-child(3n + 4) { clear: none; }
    .multi-columns-row .col-sm-3:nth-child(4n + 5) { clear: none; }

    .multi-columns-row .col-md-6:nth-child(2n + 3) { clear: left; }
    .multi-columns-row .col-md-4:nth-child(3n + 4) { clear: left; }
    .multi-columns-row .col-md-3:nth-child(4n + 5) { clear: left; }
}
@media (min-width: 1200px) {
    .multi-columns-row .col-md-6:nth-child(2n + 3) { clear: none; }
    .multi-columns-row .col-md-4:nth-child(3n + 4) { clear: none; }
    .multi-columns-row .col-md-3:nth-child(4n + 5) { clear: none; }

    .multi-columns-row .col-lg-6:nth-child(2n + 3) { clear: left; }
    .multi-columns-row .col-lg-4:nth-child(3n + 4) { clear: left; }
    .multi-columns-row .col-lg-3:nth-child(4n + 5) { clear: left; }
}

@media only screen and (max-width: 767px) {
  .hs-line-14{
      font-size: 24px;
      letter-spacing: 0.3em;
  }
  .hs-line-8{
    font-size: 14px;
  }
  .hs-line-15{
      font-size: 32px;
  }
  .work-item,
  .work-grid-2 .work-item,
  .work-grid-3 .work-item,
  .container .work-grid-3 .work-item,
  .work-grid-5 .work-item {
      width: 100%;
  }
  .work-full-text {
      margin-top: 30px;
  }
  .work-full-title {
      font-size: 20px;
  }
}
