@charset "utf-8";

.is_load_object a:hover {
  font-weight: bold;
}

.progressive img {
    display: block;
    width: 100%;
    max-width: none;
    border: 0
}

.progressive img.preview {
    transform: scale(1)
}
.progressive img.reveal {
    position: absolute;
    left: 0;
    top: 0;
    animation: progressiveReveal 1s linear
}

@keyframes progressiveReveal {
    0% {
        transform: scale(1);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

.create_order_form_of_service {
  text-align: center;
}


p {
  margin: 0px 0px 1em !important;
}

.work-item:hover .work-title,
.work-item:hover .work-descr{
    color: white !important;
}
.work-item .work-img:after{
    background: rgba(0,0,0, 0) !important;
}
.work-item:hover .work-img:after{
    background: rgba(20,20,20, .85) !important;
}

.need_darked_this .dark_target{
  color: white !important;
  margin: 5px;
  background: rgba(127,127,127, 0.6);
}

.image_fit_200 {
  object-fit: cover;
  height: 200px;
  width: 100%;
}
.image_fit_300 {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.smile_supported {
  overflow-y: auto;
  overflow-x: hidden;
  height: 200px;
}
.my_ul li {
  margin-bottom:5px
}
.mob_menu{
  z-index: 2;
  position: fixed;
  top: 15px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  transition: 2s;
}

.mobile_nav {
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  z-index:3000;
  position: fixed;
  width: 100%;
}
.first_span {
  bottom: 42px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  background: white;
  z-index:3000;
  position: fixed;
  width: 100%;
  padding-bottom: 5px;
}
.second_span {
  bottom: 42px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  background: white;
  z-index:3000;
  position: fixed;
  width: 100%;
  padding-bottom: 5px;
}
.mobile_icon {
  background: none;
  border: none;
  position: relative;
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  -webkit-animation: show 0.5s;
  animation: show 0.5s;
  padding-top: 5px;
  line-height: 16px;
}

.mobile_icon p{
  margin: 0;
  font-size: 11px;
}

.mobile_icon_active span, .mobile_icon_current span{
  font-weight: bold;
}
.mobile_icon span {
  font-size:20px
}
.align-center{ text-align:center !important; }
.align-left{ text-align:left !important;}
.align-right{ text-align:right !important; }
.left{float:left !important;}
.right{float:right !important;}
.relative{position:relative;}
.hidden{display:none;}
.inline-block{display:inline-block;}
.glass{ opacity: .5; };
.image-fullwidth img{
    width: 100%;
}
.stick-fixed{
    position: fixed !important;
    top: 0;
    left: 0;
}
.round{
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
}

.animate, .animate *{
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.clearlist, .clearlist li {
    list-style: none;
    padding: 0;
    margin: 0;
    background: none;
}

.full-wrapper {
    margin: 0 2%;
}
.container-fluid{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container-1400{
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
  -webkit-font-smoothing: antialiased;
}
.page{
    overflow: hidden;
}

.mask-delay{
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    animation-delay: 0.75s;
}
.mask-speed{
    -webkit-animation-duration: 0.25s !important;
    -moz-animation-duration: 0.25s !important;
    animation-duration: 0.25s !important;
}
iframe{
    border: none;
}
a, b, div, ul, li{
    -webkit-tap-highlight-color: transparent;
    -moz-outline-: none;
}
a:focus,
a:active{
    -moz-outline: none;
    outline: none;
}

body{
    font-size: 14px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
    line-height: 1.4;
    font-weight: 400;

}
h1{
    font-size: 32px;
}
h2{
    font-size: 28px;
}
h6{
    font-weight: 700;
}
p{
    margin: 0 0 2em 0;
}
ul, ol{
    margin: 0 0 1.5em 0;
}
dl dt{
    margin-bottom: 5px;
}
dl dd{
    margin-bottom: 15px;
}

.uppercase{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.font-alt{
    font-family: Dosis, arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.serif{
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: normal;
}
.normal{
    font-weight: normal;
}
.strong{
    font-weight: 700 !important;
}
.lead{
    margin: 1em 0 2em 0;
    font-size: 140%;
    line-height: 1.6;
}
.text{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
}

.home-section {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-content {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

.home-text {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.hs-wrap {
    max-width: 570px;
    margin: 0 auto;
    padding: 47px 30px 53px;
    position: relative;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.hs-wrap-1 {
    max-width: 350px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.hs-line-4 {
    margin-top: 0;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.hs-line-8 {
    margin-top: 0;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3em;
    line-height: 1.2;
    opacity: .75;
}
.hs-line-8.no-transp {
    opacity: 1;
}


.hs-line-14 {
    margin-top: 0;
    position: relative;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.7em;
}
.hs-line-15 {
    margin-top: 0;
    position: relative;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.3;
}

.top-bar.dark {
    border-bottom: none;
}

.nav-logo-wrap {
    float: left;
    margin-right: 20px;
}
.nav-logo-wrap .logo {
    display: table-cell;
    vertical-align: middle;
    max-width: 118px;
    height: 75px;
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.nav-logo-wrap .logo img {
    max-height: 100%;
}
.nav-logo-wrap .logo:before,
.nav-logo-wrap .logo:after {
    display: none;
}
.logo,
a.logo:hover {
    font-family: Dosis, arial, sans-serif;
    font-size: 18px;
    font-weight: 400 !important;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-decoration: none;
}

.main-nav {
    width: 100%;
    height: 75px !important;
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    z-index: 10;
    -webkit-transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.small-height {
    height: 55px !important;
}
.small-height .inner-nav ul li a {
    height: 55px !important;
    line-height: 55px !important;
}
.inner-nav {
    display: inline-block;
    position: relative;
    float: right;
    margin-top: 10px;
}
.inner-nav ul {
    float: right;
    margin: auto;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
}
.inner-nav ul li {
    float: left;
    margin-left: 30px;
    position: relative;
}
.inner-nav ul li a{
    letter-spacing: 2px;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.inner-nav ul li a:hover,
.inner-nav ul li a.active{
    text-decoration: none;
}

.mn-sub{
    display: none;
    width: 200px;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
}
.mn-sub li{
    display: block;
    width: 100%;
    margin: 0 !important;
}
.inner-nav ul li .mn-sub li a{
    display: block;
    width: 100%;
    height: auto !important;
    line-height: 1.3 !important;
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 11px 15px;
    font-size: 13px;
    text-align: left;
    text-transform: none;
    border-left: none;
    border-right: none;
    letter-spacing: 0;
    cursor: pointer;
}


.mn-sub li ul{
    left: 100%;
    right: auto;
    top: 0;
}
.inner-nav > ul > li:last-child .mn-sub,
.inner-nav li .mn-sub.to-left{
    left: auto;
    right: 0;
}
.inner-nav li:last-child .mn-sub li ul,
.inner-nav li .mn-sub li ul.to-left{
    left: auto;
    right: 100%;
    top: 0;
    border-left: none;
}

.mn-wrap{
    padding: 8px;
}

.mn-has-multi{
    width: auto !important;
    padding: 15px;
    text-align: left;
    white-space: nowrap;
}
.mn-sub-multi{
    width: 190px !important;
    overflow: hidden;
    white-space: normal;
    float: none !important;
    display: inline-block !important;
    vertical-align: top;
}
.mn-sub-multi > ul{
    width: auto;
    margin: 0;
    padding: 0;
    float: none;
}
.mn-group-title{
    font-weight: 700;
    text-transform: uppercase;
}
.mn-group-title:hover{
    background: none !important;
}

.inner-nav li.js-opened .mn-sub{
    opacity: 1;
}

.page-section,
.small-section{
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 0;
}
.small-section{
    padding: 70px 0;
}
.small-title{
    padding: 0;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.3em;
}
.section-icon{
    margin-bottom: 7px;
    text-align: center;
    font-size: 32px;
}
.small-title .serif{
    text-transform: none;
    font-weight: 400;
}

.section-title {
    margin-bottom: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5em;
    line-height: 1.4;
}
.section-more{
    margin-top: 7px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.4em;
    text-decoration: none;
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.section-more:hover{
    text-decoration: none;

}
.section-more .fa{
    font-size: 12px;
}

.section-heading {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5em;
    line-height: 1.3;
}
.section-line{
    width: 55px;
    height: 1px;
    margin: 30px auto;
}
.section-text{
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7;
}
.section-text blockquote{
    margin-top: -5px;
}
.section-bot-image{
    margin: 140px 0 -140px;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}
.image-fullwidth img{
    width: 100%;
}

.mod-breadcrumbs{
    margin-top: -5px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.4em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.mod-breadcrumbs span{
    opacity: .65;
}
.mod-breadcrumbs a{
    text-decoration: none;

}
.mod-breadcrumbs a:hover{
    text-decoration: none;
}

.mod-breadcrumbs-mini{
    text-align: left;
}

.home-bot-image{
    width: 100%;
    position: absolute;
    bottom:0;
    left: 0;
    text-align: center;
}

.fixed-height-large,
.fixed-height-medium,
.fixed-height-small{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fixed-height-small{
    min-height: 600px;
}

.works-grid{
    list-style: none;
    margin: 0;
    padding: 0;
}
.work-item{
    width: 25%;
    float: left;
    margin: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.work-grid-2 .work-item{
    width: 50%;
}
.work-grid-3 .work-item{
    width: 33.333%;
}
.container .work-grid-3 .work-item{
    width: 33.2%;
}
.work-grid-5 .work-item{
    width: 20%;
}

.works-grid.work-grid-gut{
    margin: 0 0 0 -10px;
}

.banner-section{
    overflow: visible;
    border-bottom: 1px solid transparent;
}
.banner-heading{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.banner-decription{
    margin-bottom: 35px;
    font-size: 15px;
    font-weight: 300;
}

.banner-image{
    margin: -40px 0 0 0;
    text-align: right;
}

.media-body{
    overflow: hidden;
}

.sidebar{
    margin-top: 10px;
}
.widget{
    margin-bottom: 60px;
}
.widget .img-left{
    margin: 0 10px 10px 0;
}
.widget .img-right{
    margin: 0 0 10px 10px;
}
.widget-title{
    margin-bottom: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}
.widget-body{
    font-size: 13px;
}
.widget-text{
    line-height: 1.7;
}

.search-wrap{
    position: relative;
}
.search-field{
    width: 100% !important;
    height: 40px !important;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.search-button{
    width: 42px;
    height: 40px;
    line-height: 38px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    right: 1px;
    overflow: hidden;
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
}

.widget-menu{
    font-size: 13px;
}
.widget-menu li{
    padding: 5px 0;

}
.widget-menu li a{
    text-decoration: none;
    padding-bottom: 2px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.widget-menu li small{
    font-size: 11px;
}

.tags a{
    display: inline-block;
    margin: 0 2px 5px 0;
    padding: 5px 7px;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.tags a:hover{
    text-decoration: none;
}

.widget-posts li{
    font-size: 12px;
    padding: 12px 0;
}
.widget-posts li a{
    font-size: 13px;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.widget-posts-img{
    float: left;
    margin: 0 7px 0 0;
    width: 80px;
}
.widget-posts-descr{
    overflow: hidden;
}
.pr-button{
    margin: 30px -20px 0;
    padding-top: 30px;
}

.margin-block{
    margin-bottom: 30px;
}

.tpl-tabs{
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.tpl-tabs > li > a{
    text-decoration: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.tpl-tabs-cont{
    padding: 30px 0;
    line-height: 1.8;
}

.highlight pre{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.intro-image{
    width:100%;
}
.intro-label{
    position: absolute;
    top:7px;
    right: 10px;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.label-new{
    color: white;
    padding: 2px 3px;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.label-for-button{
    position: absolute;
    top: -5px;
    right: -5px;
}
.intro-label-round{
    width: 50px;
    height: 50px;
    position: absolute;
    top:-5px;
    right: -5px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    line-height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.magazine-logo-text{
   margin-top: 0;
    position: relative;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.8;
}

.blog-post-prev-small{
    font-size: 12px;
    padding: 12px 0;
}

.blog-post-prev-small a{
    font-size: 13px;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}


.multi-columns-row .col-xs-6:nth-child(2n + 3) { clear: left; }
.multi-columns-row .col-xs-4:nth-child(3n + 4) { clear: left; }
.multi-columns-row .col-xs-3:nth-child(4n + 5) { clear: left; }
.multi-columns-row .col-xs-2:nth-child(6n + 7) { clear: left; }
.multi-columns-row .col-xs-1:nth-child(12n + 13) { clear: left; }

@media (min-width: 768px) {
    .multi-columns-row .col-xs-6:nth-child(2n + 3) { clear: none; }
    .multi-columns-row .col-xs-4:nth-child(3n + 4) { clear: none; }
    .multi-columns-row .col-xs-3:nth-child(4n + 5) { clear: none; }
    .multi-columns-row .col-xs-2:nth-child(6n + 7) { clear: none; }
    .multi-columns-row .col-xs-1:nth-child(12n + 13) { clear: none; }
    .multi-columns-row .col-sm-6:nth-child(2n + 3) { clear: left; }
    .multi-columns-row .col-sm-4:nth-child(3n + 4) { clear: left; }
    .multi-columns-row .col-sm-3:nth-child(4n + 5) { clear: left; }
    .multi-columns-row .col-sm-2:nth-child(6n + 7) { clear: left; }
    .multi-columns-row .col-sm-1:nth-child(12n + 13) { clear: left; }
}
@media (min-width: 992px) {
    .multi-columns-row .col-sm-6:nth-child(2n + 3) { clear: none; }
    .multi-columns-row .col-sm-4:nth-child(3n + 4) { clear: none; }
    .multi-columns-row .col-sm-3:nth-child(4n + 5) { clear: none; }
    .multi-columns-row .col-sm-2:nth-child(6n + 7) { clear: none; }
    .multi-columns-row .col-sm-1:nth-child(12n + 13) { clear: none; }

    .multi-columns-row .col-md-6:nth-child(2n + 3) { clear: left; }
    .multi-columns-row .col-md-4:nth-child(3n + 4) { clear: left; }
    .multi-columns-row .col-md-3:nth-child(4n + 5) { clear: left; }
    .multi-columns-row .col-md-2:nth-child(6n + 7) { clear: left; }
    .multi-columns-row .col-md-1:nth-child(12n + 13) { clear: left; }
}
@media (min-width: 1200px) {
    .multi-columns-row .col-md-6:nth-child(2n + 3) { clear: none; }
    .multi-columns-row .col-md-4:nth-child(3n + 4) { clear: none; }
    .multi-columns-row .col-md-3:nth-child(4n + 5) { clear: none; }
    .multi-columns-row .col-md-2:nth-child(6n + 7) { clear: none; }
    .multi-columns-row .col-md-1:nth-child(12n + 13) { clear: none; }

    .multi-columns-row .col-lg-6:nth-child(2n + 3) { clear: left; }
    .multi-columns-row .col-lg-4:nth-child(3n + 4) { clear: left; }
    .multi-columns-row .col-lg-3:nth-child(4n + 5) { clear: left; }
    .multi-columns-row .col-lg-2:nth-child(6n + 7) { clear: left; }
    .multi-columns-row .col-lg-1:nth-child(12n + 13) { clear: left; }
}

@media only screen and (max-width: 767px) {
  .hs-line-14{
      font-size: 24px;
      letter-spacing: 0.3em;
  }
  .hs-line-8{
    font-size: 14px;
  }
  .hs-line-15{
      font-size: 32px;
  }
  .work-item,
  .work-grid-2 .work-item,
  .work-grid-3 .work-item,
  .container .work-grid-3 .work-item,
  .work-grid-5 .work-item {
      width: 100%;
  }
  .work-full-text{
      margin-top: 30px;
  }
  .work-full-title{
      font-size: 20px;
  }
}
