
{{ object.description |safe }}

<div class="clearfix mt-40">
  {% if next %}
    <a href="/load_item/?_object_type={{ prev.id }}&_owner_type=service&_object_pk={{ object.id }}&_owner_pk={{ service.id }}" class="next_item pointer blog-item-more left">⇠&nbsp;&nbsp;{{ next.title }}</a>
  {% endif %}
  {% if prev %}
    <a href="/load_item/?_object_type={{ next.id }}&_owner_type=service&_object_pk={{ object.id }}&_owner_pk={{ service.id }}" class="prev_item pointer blog-item-more right">{{ prev.title }}&nbsp;&nbsp;⇢</a>
  {% endif %}
</div>
