{% if last_blogs %}

<section class="page-section">
    <div class="container relative">
        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
            Последние статьи
            <a href="/blog_categories/" class="section-more right ajax blog">
              Перейти в раздел
            </a>
        </h2>
        <div class="row multi-columns-row">
          {% for object in last_blogs %}

            <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50">
                <div class="post-prev-img">
                    <a href="/blog/1/{{ object.id }}/" class="ajax">
                      <img class="image_fit_300" src="{{ object.image }}" alt="img" />
                    </a>
                </div>
                <div class="post-prev-title font-alt">
                    <a class="ajax" href="/blog/1/{{ object.id }}/">{{ object.title }}</a>
                </div>
                <div class="post-prev-info font-alt">
                    {{ object.blog_created | date(format="%Y-%m-%d %H:%M") }}
                    {% if is_admin %}
                      | <a class="ajax" href="/edit_blog/{{ object.id }}/">~</a>
                      | <a class="pointer remove_blog" data-pk="{{ object.id }}">x</a>
                    {% endif %}
                </div>
                <div class="post-prev-text">
                    {{ object.description | truncate(length=100) }}
                </div>
                <div class="post-prev-more">
                    <a href="/blog/1/{{ object.id }}/" class="btn btn-mod border btn-round ajax">Читать</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
