<section class="page-section">
    <div class="container relative">
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Разделы сайта
        </h2>
        <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
            <li class="yy s_1 active">
                <a><div class="alt-tabs-icon"><span class="icon-lightbulb"></span></div>Наши услуги</a>
            </li>
            <li class="yy s_2 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-briefcase"></span></div>Портфолио</a>
            </li>
            <li class="yy s_3 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-newspaper"></span></div>Наш блог</a>
            </li>
            <li class="yy s_4 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-book-open"></span></div>База знаний</a>
            </li>
            <li class="yy s_5 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-documents"></span></div>Страницы</a>
            </li>
            <li class="yy s_6 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-profile-male"></span></div>Профиль</a>
            </li>
            {% if is_admin %}
            <li class="yy s_7 pointer">
                <a><div class="alt-tabs-icon"><span class="icon-gears"></span></div>Управление</a>
            </li>
            {% endif %}
        </ul>

        <div class="tab-content tpl-tabs-cont">
            <div class="tab_1 fade tab-pane in active wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                        <div class="mb-sm-50">
                          <blockquote style="margin-bottom: 10px">
                            <a href="/service_categories/" class="ajax" style="text-decoration: underline;">Наши услуги</a>
                          </blockquote>
                          <p>
                          <strong>Раздел</strong> посвящён описанию <strong>наших услуг</strong> по разработке ресурсов, принципам сотрудничества,
                          условиям поддержки Ваших проектов, обучению персонала.<br><br>
                          Вот <strong>ключевые моменты</strong>:
                          <ul class="my_ul">
                              <li> <span class="icon-attachment"></span>
                                <a href="/service_list/1/" class="ajax" style="text-decoration: underline;">Разрабатываем веб-ресурсы</a>.
                                только на чистых языках программирования (python, javascript, c++ и т.д.). Умеем аргументировать
                                технические решения для конкретных задач человеку с любым уровнем понимания темы. Обсуждаем
                                только порядочные идеи, даём увесистые скидки для проектов социальной значимости. Работаем на опережение
                                ожиданий заказчика, так как знаем самые лучшие практики программирования и стремимся производить продукты
                                только высочайшего класса.
                              </li>
                              <li><span class="icon-attachment"></span>
                                <a href="/service_list/2/" class="ajax" style="text-decoration: underline;">Ждём Ваших предложений по созданию партнёрских ресурсов</a>.
                                Хотим: порядочности и прозрачности в нашем сотрудничестве, размещения обсуждаемого проекта
                                на наших площадках для обоюдного комфорта и надёжности, принципов законности и здравого смысла
                                в наших отношениях с Вами. Готовы демонстрировать рекомендации и отзывы наших уважаемых партнёров.
                              </li>
                              <li>
                                <a href="/service_list/3/" class="ajax" style="text-decoration: underline;">Размещаем проекты на своих платформах</a>.
                                Мы готовы взять на себя все технические вопросы по организации надежного и развивающегося проекта. Обязуемся
                                постоянно наращивать своё техническое могущество и экспертный потенциал. Можем решить любой вопрос в данной теме.
                              </li>
                              <li>
                                <a href="/service_list/4/" class="ajax" style="text-decoration: underline;">Обучаем людей создавать высоконагруженные ресурсы</a>.
                                Мы понимаем возможную секретность требуемой площадки и оказываем услуги по обучению сотрудников
                                с любым уровнем технической подготовки. Таким образом Ваша фирма сможет построить высоконагруженный продукт и не
                                опасаться потери конфеденциальных данных.
                              </li>
                          </ul>
                          </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab_2 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote style="margin-bottom: 10px">
                          <span class="icon-attachment"></span>
                          <a href="/work_categories/" class="ajax" style="text-decoration: underline;">Портфолио</a>
                        </blockquote>
                        <p>
                          В этом разделе мы будем размещать собственные, заказанные, совместные сайты.<br><br>
                          Вот <strong>важные нюансы</strong>:
                          <ul class="my_ul">
                              <li>Показать сможем только те проекты, которые не имеют приватного типа.</li>
                              <li>Проекты, находящиеся в разработке, тоже будут. Если заказчик не будет против, с подробным описанием процесса.</li>
                              <li>Будем выставлять ресурсы, которые готовы к заказу и могут перейти в вашу собственность в считанные месяцы.</li>
                          </ul>
                        </p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="tab_3 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote style="margin-bottom: 10px">
                          <span class="icon-attachment"></span>
                          <a href="/blog_categories/" class="ajax" style="text-decoration: underline;">Блог</a>
                        </blockquote>
                        <p>
                          Любой уважающей себя и свой престиж фирме следует давать сведения о разных сторонах своего существования.<br><br>
                          <strong>Что</strong> же <strong>войдёт в блог</strong>:
                          <ul class="my_ul">
                              <li>Важные и интересные моменты жизни компании.</li>
                              <li>Наблюдения в сфере профессиональной деятельности.</li>
                              <li>Полезные идеи для всех интересующихся темой больших проектов.</li>
                          </ul>
                        </p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="tab_4 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote style="margin-bottom: 10px">
                          <span class="icon-attachment"></span>
                          <a href="/wiki_categories/" class="ajax" style="text-decoration: underline;">Обучалка</a>
                        </blockquote>
                        <p>
                          Далеко не все могут позволить себе заказать соцсеть у профессионалов. Нельзя лишать людей шансов
                          на исполнение такой мечты. Поэтому мы будем размещать статьи с бесплатным материалом.<br><br>
                          <strong>О чём будут статьи</strong>:
                          <ul class="my_ul">
                              <li>Разработка веб-сайтов от простого к сложному</li>
                              <li>Создание приложений для смартфонов.</li>
                              <li>Опыты по тренировке нейронных сетей от python до c++</li>
                              <li>Смежные технологии. Кэширование, вебсокеты, безопасность, масштабирование,
                              базы данных, вариативность применения инструментов, практики чистого кода и много, много всего .</li>
                          </ul>
                        </p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="tab_5 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote style="margin-bottom: 10px">
                          <p style="text-decoration: underline;">Страницы</p>
                        </blockquote>
                        <p>
                          <strong>Сайт имеет много отдельных страниц</strong>:
                          <ul class="my_ul">
                              <li><span class="icon-attachment"></span>
                                <a href="/about/" class="ajax" style="text-decoration: underline;">О нас</a>.
                                Кто мы, чего хотим, как развиваемся, к чему идём.</li>
                              <li><span class="icon-attachment"></span>
                                <a href="/contacts/" class="ajax" style="text-decoration: underline;">О сайте</a>.
                                Назначение, структура, преимущества, путеводитель, форма связи</li>
                              <li><span class="icon-attachment"></span>
                                <a href="/tags/" class="ajax" style="text-decoration: underline;">Теги</a>.
                                По ключевым словам можно будет видеть весь материал со всех разделов сайта.
                              </li>
                              <li><span class="icon-attachment"></span>
                                <a href="/search/" class="ajax" style="text-decoration: underline;">Поиск</a>.
                                 Быстрый лифт к нужному контенту.
                               </li>
                              <li><span class="icon-attachment"></span>
                                <a>Дизайн</a>.
                                Мы любим давать пользователям инструменты для кастомизации станиц для их удобства.
                               Пока реализованы режимы "День", "Ночь", "Детский", "Оригинальный"
                             </li>
                          </ul>
                        </p>
                      </div>
                    </div>
                </div>
            </div>

            <div class="tab_6 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <blockquote style="margin-bottom: 10px">
                          <span class="icon-attachment"></span>
                          <a href="" class="ajax" style="text-decoration: underline;">Профиль</a>
                        </blockquote>
                        <p>
                          Этот <strong>раздел предназначен для пользователя</strong> и содержит разные уровни допуска к информации
                          и возможностям сайта.
                          <strong>Он нужен для</strong>:
                          <ul class="my_ul">
                              <li>Участия в обсуждении интересующих тем в разных разделах - блоге, обучалке, проектах и т.д.
                                Получения помощи в схожих вопросах.</li>
                              <li>Сотрудничества с нами в любой форме - генерации контента, обучении людей, работе с нейронными сетями,
                              организации доступа для всего вышеперечисленного.</li>
                              <li>Наблюдения за ходом нашего рабочего процесса, если Вы являетесь заказчиком наших услуг.
                              Просмотр статистики действий, общение с менеджером.</li>
                              <li>Освещение состояния Ваших активов, если Вы владеете долями бизнеса совместно с нами в масшьабных проектах.</li>
                          </ul>
                        </p>
                      </div>
                    </div>
                </div>
            </div>
            {% if is_admin %}
            <div class="tab_7 fade tab-pane in wow fadeIn" data-wow-duration="0.3s">
                <div class="section-text">
                    <div class="row">
                      <div class="mb-sm-50">
                        <a href="/create_work_categories/" class="ajax">Создать категорию портфолио</a>,
                        <a href="/create_work/" class="ajax">Создать кейс</a><br>

                        <br>
                        <a href="/create_blog_categories/" class="ajax">Создать категорию блога</a>,
                        <a href="/create_blog/" class="ajax">Создать статью</a><br>

                        <br>
                        <a href="/create_service_categories/" class="ajax">Создать категорию услуг</a>,
                        <a href="/create_service/" class="ajax">Создать услуг</a><br>

                        <br>
                        <a href="/create_store_categories/" class="ajax">Создать категорию магазина</a>,
                        <a href="/create_store/" class="ajax">Создать товар</a><br>

                        <br>
                        <a href="/create_wiki_categories/" class="ajax">Создать категорию обучалки</a>,
                        <a href="/create_wiki/" class="ajax">Создать обучалку</a><br>

                        <br>
                        <a href="/create_tag/" class="ajax">Создать тег</a><br>

                        <br>
                        <a href="/create_tech_categories/" class="ajax">Создать технологию опций</a>,
                        <a href="/create_serve_categories/" class="ajax">Создать категорию опций</a>,
                        <a href="/create_serve/" class="ajax">Создать опцию</a><br>
                      </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
