{% extends "desctop/base.html" %}
{% block title %}Наши услуги{% endblock %}
{% block content %}

<section class="bg-gray-lighter" style="padding-top: 90px;">
    <div class="relative container align-left">
        <div class="hs-line-4 font-alt black">
            <a class="ajax" href="/">
                Главная
            </a>
            &nbsp;/&nbsp;
            <span>Объекты наших услуг</span>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container relative">
    </div>
</section>

{% endblock %}
