{% extends "desctop/base.html" %}
{% block title %}Калькулятор стоимости{% endblock %}
{% block content %}

<section class="bg-gray-lighter" style="padding-top: 90px;">
    <div class="relative container align-left">
        <div class="hs-line-4 font-alt black">
            <a class="ajax" href="/">Главная</a>
            &nbsp;/&nbsp;
            <span>Калькулятор стоимости</span>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container relative">
        <div class="section-text">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
        {% for category in serve_categories %}
        {% if loop.index == 1 %}
        {% set object_list = serves1 %}
        {% elif loop.index == 2 %}
        {% set object_list = serves2 %}
        {% elif loop.index == 3 %}
        {% set object_list = serves3 %}
        {% elif loop.index == 4 %}
        {% set object_list = serves4 %}
        {% endif %}
        <table class="table">
            <thead>
              <tr>
                <th>
                  <a class="ajax" href="/serve/{{ category.id }}/">
                    {{ category.name }}
                  </a>
                </th>
                <th style="width:20%;"></th>
              </tr>
            </thead>
            <tbody>
              {% for object in object_list %}
                <tr>
                    <td>
                        {{ object.name }}
                        <div class="small">
                            {{ object.description }}
                        </div>
                    </td>
                    <td class="align-right">
                      {% if object.price_acc %}
                        <del>{{ object.price }}</del>
                        &nbsp;
                        {{ object.price_acc }}
                      {% else %}
                        {{ object.price }}
                      {% endif %}
                    </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
        {% endfor %}
      </div>
      </div>
      </div>
    </div>
</section>

{% endblock %}
