<div class="mb-20 col-sm-10 col-md-6 col-lg-6 mb-md-50">
    <div class="post-prev-img">
        <a href="/blog/{{ category.id }}/{{ object.id }}/" class="ajax">
          <img class="image_fit_300" src="{{ object.image | replace(from="./", to="/") }}" alt="img" />
        </a>
    </div>
    <div class="post-prev-title font-alt">
        <a class="ajax" href="/blog/{{ category.id }}/{{ object.id }}/">{{ object.title }}</a>
    </div>
    <div class="post-prev-info font-alt">
        {{ object.blog_created | date(format="%Y-%m-%d %H:%M") }}
        {% if is_admin %}
          | <a class="ajax" href="/edit_blog/{{ object.id }}/">~</a>
          | <a class="ajax" href="/edit_content_blog/{{ object.id }}/?content=">Aa</a>
          | <a class="pointer remove_blog">x</a>
        {% endif %}
    </div>
    <div class="post-prev-text">
        {{ object.description | truncate(length=100) }}
    </div>
    <div class="post-prev-more">
        <a href="/blog/{{ category.id }}/{{ object.id }}/" class="btn btn-mod border btn-round ajax">Читать</a>
    </div>
</div>
