{% if loop.index is even %}
<section class="page-section">
  <div class="container relative">
    <div class="row">
        <div class="col-md-7 mb-sm-40">
            <div class="mt-0 white-shadow wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <img class="image_fit_300" src="{{ object.image }}" alt="img">
            </div>
        </div>
        <div class="col-md-5 col-lg-4 col-lg-offset-1">
            <div class="text">
              <h3 class="font-alt mb-30 mb-xxs-10">{{ object.title }}</h3>
              <p>
                {{ object.description | truncate(length=100) }}
              </p>
              <div class="mt-40">
                <a class="btn btn-mod border btn-round ajax" href="/service/{{ category.id }}/{{ object.id }}/">
                  Подробнее
                </a>
              </div>
            </div>
        </div>
    </div>
  </div>
</section>
{% else %}
<section class="page-section">
  <div class="container relative">
    <div class="row">
      <div class="col-md-5 col-lg-4 col-lg-offset-1">
          <div class="text">
            <h3 class="font-alt mb-30 mb-xxs-10">{{ object.title }}</h3>
            <p>
              {{ object.description | truncate(length=100) }}
            </p>
            <div class="mt-40">
              <a class="btn btn-mod border btn-round ajax" href="/service/{{ category.id }}/{{ object.id }}/">
                Подробнее
              </a>
            </div>
          </div>
      </div>
        <div class="col-md-7 mb-sm-40">
            <div class="mt-0 white-shadow wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <img class="image_fit_300" src="{{ object.image }}" alt="img">
            </div>
        </div>
    </div>
  </div>
</section>
{% endif %}
