<div class="col-md-6 mb-60 mb-xs-40">
  <div class="post-prev-img">
    <a class="ajax" href="/store/{{ category.id }}/{{ object.id }}/">
      <img src="{{ object.image }}" alt="img">
    </a>
    <div class="intro-label">
      <span class="label label-danger bg-red">Sale</span>
    </div>
  </div>
  <div class="post-prev-title font-alt align-center">
    <a class="ajax" href="/store/{{ category.id }}/{{ object.id }}/">
      {{ object.title }}
    </a>
  </div>
  <div class="post-prev-text align-center">
    {% if object.price_ac %}
      <del>{{ object.price }}</del>
      &nbsp;
      <strong>{{ object.price_ac }}</strong>
    {% else %}
      <strong>{{ object.price }}</strong>
    {% endif %}
    
    {% if is_admin %}
    <br>
      | <a class="ajax" href="/edit_store/{{ object.id }}/">~</a>
      | <a class="ajax" href="/edit_content_store/{{ object.id }}/?content=">Aa</a>
      | <a class="pointer remove_store">x</a>
    {% endif %}
  </div>
  <div class="post-prev-more align-center">
    <a href="/store/{{ category.id }}/{{ object.id }}/" class="btn border btn-mod ajax btn-round">
      Детали
    </a>
  </div>
</div>
